{% comment %}
  Renders a tab that expands on click
  Accepts:
  - product: {Object} product object.
  - block: {Object} block object.

  Usage:
  {% render 'cart-rewards',
  %}
{% endcomment %}

<div class="rewards-section">
    <div class="reward-items">
        {% assign rewards = shop.metaobjects.reward.values | sort: "order" %}
        {% for reward in rewards %}
            {% render 'reward-item', icon: "lock", class: reward.element_class.value, title: reward.title, active: false %}
        {% endfor %}
    </div>
    <div class="track-progress">
        <span class="progress-value"></span>
    </div>
    <div class="reward-text"></div>
    <span class="cart-rewards__error-message"></span>

</div>