{% comment %}
  Renders a header that expands to show a description on click
  Accepts:
  - title: {String} The string to show in the header
  - description: {String} The string to show in the expanded area

  Usage:
  {% render 'collapsible-list',
    title: title,
    description: description,
  %}
{% endcomment %}

<div class="dropdown-container">
    <header class="clearfix">
        <h1>{{ title }}</h1>
        <figure class="expand"><i class="fa fa-close"></i></figure>
    </header>
    <article>
        <div class="article-inner">
            {{ description }}
        </div>
    </article>
</div>
