<ul class="mega-menu__list page-width mega-menu__list--condensed"
    role="list">
    {%- for childlink in childlinks -%}
        <li>
            <a href="{{ childlink.url }}"
               class="mega-menu__link mega-menu__link--level-2 link{% if childlink.current %} mega-menu__link--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                {{ childlink.title | escape }}
            </a>
            {%- if childlink.links != blank -%}
                <ul class="list-unstyled"
                    role="list">
                    {%- for grandchildlink in childlink.links -%}
                        <li>
                            <a href="{{ grandchildlink.url }}"
                               class="mega-menu__link link{% if grandchildlink.current %} mega-menu__link--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                                {{ grandchildlink.title | escape }}
                            </a>
                        </li>
                    {%- endfor -%}
                </ul>
            {%- endif -%}
        </li>
    {%- endfor -%}
</ul>