<div class="israel-solidarity-flag-container">
    <img src="https://we-stand-with-israel.s3.amazonaws.com/assets/israel-solidarity-flag.svg"
         class="israel-solidarity-flag-img"
         title="We stand united in support for Israel, and condemn the acts of terrorism that have brought devastation and claimed innocent lives. We hope for stability and safety to be restored, hostages to be safely reunited with their loved ones, and lost lives be properly honored"
         alt="We stand with Israel"
         height="22"
         width="22"
         loading="eager">
</div>