{% comment %}
  Renders a table with product specific sizing
  Accepts:
  - product: {Object} product object.
  - block: {Object} block object.
  -

  Usage:
  {% render 'product-gift-card-usage',
    product: product,
    block: block
  %}
{% endcomment %}

{% comment %} TODO: Extract the following assignments to dashboard {% endcomment %}

<div class="product-meta-content">
    <div class="product-shipping-dropdown">
        <ul class="gift-card-list">
            <li class="gift-card-li">
                Choose the value of the gift card you want to purchase.
            </li>
            <li class="gift-card-li">
                When you purchase the gift card, the email you enter at checkout will receive the code.
            </li>
            <li class="gift-card-li">
                Receive a code to your email.
            </li>
            <li class="gift-card-li">
                Submit the code at the checkout process.
            </li>
            <li class="gift-card-li">
                * You can purchase a gift card with a coupon code.
            </li>
            <li class="gift-card-li">
                Every gift card expires after 2 years.
            </li>
        </ul>
    </div>
</div>