{% comment %}
  Presents a reward item.
  Which indicates what rewards the customer receives for the purchase.

  Accepts:
  - icon: the icon to be displayed
  - title: the title of the reward
  - active: whether the reward is active or not
  - class (optional): additional classes to be added to the reward item

  Usage:
  {% render 'reward-item',
    icon: 'icon',
    title: 'title',
    active: true,
    class: 'additional-class'
  %}
{% endcomment %}

<span class="reward-item {{ class }} {% if active %}active-reward{% endif %}">
  <div class="cart-rewards-icon-container">
      {% render 'icon-lock' %}
      {% render 'icon-reward' %}
  </div>
  <span class="reward-item__title">{{ title }}</span>
</span>