{% comment %}
  Renders product sale banner copywriting

  Accepts:
  - product: {Object} product object.
  - block: {Object} block object.
  - announcement_tag: {String} announcement tag.
  - members_only_sale: {Boolean} is members only sale.

  Usage:
  {% render 'sale-banner', product: product, member_tag: settings.announcement_tag, block: block, members_only_sale: settings.members_only_sale %}
{% endcomment %}

{% liquid
    assign members_only = false
    if announcement_tag != blank
        assign members_only = true
    endif
%}

{% if product.tags contains announcement_tag %}
    <div class="sale-banner-product-page fix-direction">
        {% if customer %}
            <p>{{ block.settings.logged_in_text }}</p>
        {% else %}
            <p>{{ block.settings.logged_out_text }}</p>
            {% if block.settings.log_in != blank %}
                <small class="account-toggler-site-wide link">{{ block.settings.log_in }}</small>
            {% endif %}
        {% endif %}
        {% if block.settings.small_text != blank %}
            <small class="">{{ block.settings.small_text }}</small>
        {% endif %}
    </div>
{% endif %}