{% liquid
    assign members_only = false
    if member_tag != blank
        assign members_only = true
    endif
%}

<div class="sale-banner-product-page fix-direction">
    {% if customer %}
        <p>{{ block.settings.logged_in_text }}</p>
    {% else %}
        <p>{{ block.settings.logged_out_text }}</p>
        <small class="account-toggler-site-wide link">{{ block.settings.log_in }}</small>
    {% endif %}
</div>