{% comment %}
  Renders a swiping banner presets
  Accepts:
  - preset: {String} Swiper preset to use.
  - delay: {Number} Delay between slides in seconds.

  Usage:
  {% render 'swiper',
    swiper_preset: swiper_preset,
    delay: delay,
  %}
{% endcomment %}

{% style %}
    .slider-icon {
    padding-left: 1em;
    }
    .slider-icon svg {
    height: 28px;
    width: 24px;
    font-size: 10px;
    color: rgb(var(--color-foreground));
    }
  /*  .swiper-slide:not(.active) {
    display: none;
    }
    .swiper-slide-body {
    display: flex;
    direction: rtl;
    align-items: center;
    background-color: rgba(var(--color-foreground), 0.1);
    color: rgb(var(--color-foreground));
    padding: 0 10px;
    min-height: 100px;
    } */
{% endstyle %}

<div class="brand-badges fix-direction">
    {% case preset %}
        {% when "shipping_returns" %}
            <div class="swiper-container">
                <div class="swiper-slide">
                    <div class="swiper-slide-body">
                        <div class="slider-icon">
                            {% render 'icon-delivery-guy' %}
                        </div>
                        <p class="product-badge__text">משלוחים אקספרס בכל הזמנה - עד 3 ימי עסקים.</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper-slide-body">
                        <div class="slider-icon">
                            {% render 'parcel' %}
                        </div>
                        <p class="product-badge__text">החלפות חינם עם שליח עד הבית - בכל הזמנה.</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper-slide-body">
                        <div class="slider-icon">
                            {% render 'icon-return' %}
                        </div>
                        <p class="product-badge__text">החזרות חינם - עד 30 יום.</p>
                    </div>
                </div>
            </div>
    {% endcase %}
</div>