{{ 'component-loyalty-rewards.css' | asset_url | stylesheet_tag }}

<div class="loyalty-rewards-container">
    <div class="rewards-titles">

    </div>
    {% for reward in shop.metaobjects.loyalty_rewards.values %}
        <div>

        </div>
    {% endfor %}
</div>