<div class="custom-blocks-links-container fix-direction page-width grid">
    {% for block in section.blocks %}
        <div class="grid__item">
            {% if block.settings.url != blank %}
                <a href="{{ block.settings.url }}">
                    {% if block.settings.image != blank %}
                        <img src="{{ block.settings.image | img_url: block.settings.width }}" alt="{{ block.settings.text }}">
                    {% endif %}
                    {% if block.settings.text != blank %}
                        <h4>{{ block.settings.text }}</h4>
                    {% endif %}
                </a>
            {% endif %}
        </div>
    {% endfor %}
</div>

{% schema %}

{
    "name": "Custom Blocks Links",
    "class": "custom-blocks-links",
    "blocks": [
        {
            "type": "block",
            "name": "Link",
            "settings": [
                {
                    "type": "text",
                    "id": "text",
                    "label": "Text",
                    "default": "Link"
                },
                {
                    "type": "url",
                    "id": "url",
                    "label": "URL"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "range",
                    "id": "width",
                    "label": "Width",
                    "min": 0,
                    "max": 100,
                    "step": 10,
                    "default": 100
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Block",
            "category": "Custom Blocks",
            "blocks": [
                {
                    "type": "block",
                    "settings": {
                        "text": "Link",
                        "url": "https://strongful.co.il",
                        "image": ""
                    }
                }
            ]
        }
    ]
}

{% endschema %}