{{ 'component-visual-ugc.css' | asset_url | stylesheet_tag }}

<div class="instagram-ugc-main">
    <div class="instagram-ugc-ctn page-width">
        {% render 'icon-instagram' %}
        <h4 class="instagram-ugc-brand-name upper ltr">@{{ shop.name }}</h4>
        <div class="yotpo-ugc-container">
            <div class="yotpo yotpo-pictures-widget" data-gallery-id="{{ section.settings.yotpo_widget_id }}"></div>
        </div>
    </div>
</div>

{% schema %}

{
    "name": "Yotpo",
    "settings": [
        {
            "type": "text",
            "id": "yotpo_widget_id",
            "label": "Yotpo Widget ID",
            "default": "643511ba2ed1151bb3dcb2ae",
            "info": "Enter your Yotpo Widget ID"
        }
    ],
    "presets": [
        {
            "name": "Yotpo",
            "category": "Social media",
            "settings": {
                "yotpo_widget_id": "643511ba2ed1151bb3dcb2ae"
            }
        }
    ]
}

{% endschema %}