.totals {
  display: grid;
  grid-template-columns: 1fr max-content;
	row-gap: .5rem;
}

.totals > * {
  font-size: 1.6rem;
  margin: 0;
}

.totals > *:nth-child(2), .totals > *:nth-child(4) {
	text-align: left;
}

.totals > h2 {
  font-size: calc(var(--font-heading-scale) * 1.6rem);
}

.totals * {
  line-height: 1;
}

.totals__subtotal-value {
  font-size: 1.8rem;
}

.cart__ctas + .totals {
  margin-top: 2rem;
}

.totals h2, div.benefits-announcement {
	font-size: var(--font-body-size-small);
}
