.complete_look__slider ul, .complete_look__slider ol {
    list-style: none;
}

.complete_look__slider {
    padding: 0 1rem;
}

.complete_look__title {
    text-align: center;
	font-weight: var(--font-body-weight-bold);
}

.complete_look__columns {
    display: flex;
}

.featured_photo {
	display: flex;
	align-items: baseline;
}

.featured_photo a {
	width: 100%;
}

.featured_photo, .complete_look__list {
    width: 50%;
}

.featured_photo img, .complete_look__list_item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.complete_look__list_item:not(:last-child) {
    border-bottom: 1px solid rgba(var(--color-foreground), 0.1);
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.complete_look__item {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 5px 0;
	align-items: center;
}

.complete_look__item .item_details {

}

.complete_look__item .item_picture {
    padding-left: 10px;
}

.complete_look__item .item_picture a {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.color-variant-container {
    display: inline;
}

.item_details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item_details p {
    margin: 0;
}

.complete_look_variant_price .price__sale .price-item.price-item--sale {
    display: block;
    color: firebrick;
}

@media screen and (max-width: 949px) {

	.complete_look__slider {
		padding: 0 5rem;
	}

    .complete_look__columns {
        flex-direction: column;
    }

    .featured_photo, .column_spacer {
        display: none !important;
    }

    .featured_photo, .complete_look__list {
        width: 100%;
        padding: 0;
    }
}

.complete_look__slider .size_variant_button_container {
    border: none;
}

.complete_look__slider .product-form__input input[type='radio'] + label {
    margin: 0;
}

.add_to_cart {
    padding: 0 1.5rem;
    width: fit-content;
    min-width: calc(8rem + var(--buttons-border-width) * 2);
    min-height: calc(2.5rem + var(--buttons-border-width) * 2)
}

.complete_look__item .variant_selector {
	display: block;
}