.countdown-section {
	position: sticky;
	top: 61px;
	z-index: 4;
}

.announce-countdown {
	column-gap: var(--grid-mobile-vertical-spacing);
	/*border: 1px solid var(--gradient-background);*/
}

.countdown {
	display: block;
	width: 100%;
	padding: 0.6em 0;
	background: var(--gradient-base-accent-1);
	color: rgb(var(--color-base-text));
}

.headerLink-countdown {
	padding: 10px 10px 0;
}

.countdown-ctn {
	justify-content: center;
	column-gap: 1rem;
	align-items: center;
	width: 100%;
	margin: auto;
}

.countdown-sale-description-ctn {
	width: max-content;
}

.countdown-sale-description-ctn p {
	color: rgb(var(--color-base-background-1));
	font-weight: 600;
	margin: 0;
	font-size: .9em;
	text-align: center;
	line-height: 1.5rem;
}

.countdown-sale-description-ctn p:nth-child(2) {
	font-size: .6em;
	font-weight: var(--font-body-weight);
}

.countdown-sale-description:first-child {
	direction: ltr;
}

.countdown #tiles {
	position: relative;
	justify-content: center;
	align-items: center;
	z-index: 1;
	height: 100%;
	font-size: .9em;
	padding: var(--grid-mobile-vertical-spacing);
}

.countdown #tiles>span, .tiles-time {
	text-align: center;
	color: var(--gradient-base-background-1);
	position: relative;
	font-size: calc(var(--font-body-size-large) * .8);
	margin: 0;
	font-weight: 600;
	/*box-shadow: 0px 0px 6px 0px rgb(255 255 255 / 30%);*/
	padding: .15em;
}

.countdown .labels-li {
	font-size: .9em;
	margin: .6em auto 0;
	text-align: center;
	color: rgb(var(--color-base-background-1));
}

@media screen and (min-width: 990px) {
	.countdown-ctn {
		justify-content: center;
		column-gap: 1.5em;
	}

	.countdown-sale-description {
		font-size: 1.1em;
	}

	.countdown-section {
		top: 66px;
	}
}