.complete_look__slider {
    direction: rtl;
}

.complete_look__slider ul, .complete_look__slider ol {
    list-style: none;
}

.complete_look__title {
    text-align: center;
}

.complete_look__columns {
    display: flex;
}

.featured_photo, .complete_look__list {
    width: 50%;
}

.featured_photo img, .complete_look__list_item img {
    width: 100%;
}

.complete_look__item {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 5px 0;
}

.complete_look__item .item_details {

}

.complete_look__item .item_picture {
    padding-left: 10px;
}

.complete_look__item .item_picture a {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.color-variant-container {
    display: inline;
}

.item_details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item_details p {
    margin: 0;
}

.complete_look_variant_price .price__sale .price-item.price-item--sale {
    display: block;
    color: firebrick;
}

@media screen and (max-width: 949px) {
    .complete_look__columns {
        flex-direction: column;
    }

    .featured_photo, .column_spacer {
        display: none !important;
    }

    .featured_photo, .complete_look__list {
        width: 100%;
        padding: 0;
    }
}