.announcement-bar {
    color: rgb(var(--color-foreground));
	background-color: rgb(var(--color-background));
	padding: 1.5rem 0;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	opacity: 0;
	transition: opacity 1s ease-in-out;
	display: flex;
	align-items: center;
	justify-content: center;
}

.announcement-bar__link {
    display: block;
    width: 100%;
    text-decoration: none;
}

.announcement-bar__link:hover {
    color: rgb(var(--color-foreground));
    background-color: rgba(var(--color-card-hover), 0.06);
}

.announcement-bar__link .icon-arrow {
    display: inline-block;
    pointer-events: none;
    margin-left: 0.8rem;
    vertical-align: middle;
    margin-bottom: 0.2rem;
}

.announcement-bar__link .announcement-bar__message {
    font-size: var(--font-body-size-medium);
}

.announcement-bar__message {
    margin: 0;
}

.announcement-text {
	margin: 0;
}

.announcement-bar__message p:last-child {
    font-size: calc(var(--font-body-size-medium) * 0.9);
}

.announcement-bar-container.container-columns {
    display: flex;
	justify-content: center;
}

.announcement-bar-container {
	overflow: hidden;
	width: 100vw;
	position: relative;
	height: 66px;
}

.announcement-bar--inner {
	display: flex;
	width: 100%;
	height: 100%;
}

.announcement-bar.active {
    opacity: 1;
}

@media screen and (min-width: 990px) {
	.announcement-bar, .announcement-bar.active + .announcement-bar, .announcement-bar.active + .announcement-bar + .announcement-bar {
        opacity: 1;
		position: static;
    }

    .announcement-bar-container.container-columns {
        justify-content: space-evenly;
    }

	.announcement-bar__message p:last-child {
		margin-top: .5rem;
		font-size: calc(var(--font-body-size-medium) * 0.95);
		font-weight: 300;
	}
}
