
  .list-social {
    justify-content: center;
  }

.list-social__item .icon {
  height: 1.8rem;
  width: 1.8rem;
}

.list-social__link {
  align-items: center;
  display: flex;
  padding: 1.3rem;
  color: rgb(var(--color-foreground));
}

.list-social__link:hover .icon {
  transform: scale(1.07);
}

@media screen and (min-width: 990px) {
  .list-social {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
}

/* Custom Styles - Yahav */

.list-social__item .icon {
  height: 2.5rem;
  width: 2.5rem;
}

  .list-social__item .icon-youtube {
    height: 3rem;
    width: 3rem;
  }
