.quick-add.hover {
    display: none;
}

.card:hover .quick-add.hover {
    display: block;
}

@media screen and (max-width: 749px) {
    .card:hover .quick-add.hover {
        display: none
    }
}

.quick-add.hover {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.product-size-picker-container {
    background-color: rgba(var(--color-background), 0.8);
    padding: 20px 10px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.product_size_picker__heading {
    font-weight: 700;
}

.product-size-picker {
    width: 100%;
}

.variant_selector {
    width: 100%;
}

.size-variant-product-form {
    width: 100%;
}

.size-variant-product-form .button.add_to_cart {
    height: 30px;
    min-height: unset;
    margin-top: 2px;
    margin-bottom: 0;
}

.card .product_variants .size_variant_button {
    width: 100%;
}

.product_variants ul {
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
    column-gap: .5rem;
    direction: ltr;
}

.card__heading a:after {
    z-index: 0;
}

.card--standard:not(.card--horizontal) > .card__content .card__badge {
    display: block;
    position: absolute;
    top: 0;
}

.card--standard:not(.card--horizontal) > .card__content .card__badge:has(> .badge.color-custom-red) {
    margin: 0;
    left: 0;
}

.badge.color-custom-red {
    color: firebrick;
    padding: 0.6em;
    text-align: center;
    font-size: 1.1em;
    font-weight: 600;
    background: rgba(255, 255, 255, 0.8);
    margin: 10px 0 0 0;
    border: 0;
    border-radius: 0 1em 1em 0;
}

.card_banner_text {
    margin-top: -10px;
    width: 100%;
    display: block;
    padding: 5px;
    margin-bottom: 8px;
    text-align: center;
}

.outlet-collection-tag {
    font-weight: var(--font-body-weight-bold);
    display: block;
    margin: 0;
}

.product-size-picker {
    width: 100%;
}

div:not(.product-size-picker-container) .variant-button .size_variant_button:not(.disabled-variant-button) .size_variant_button_container label:hover {
    background: #000;
    color: #fff;
}

.card:hover .quick-add.hover {
    width: 95%;
    right: 50%;
    transform: translateX(50%);
}

.discount-price-container {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	margin: 0 0 6px;
}

.rect-discount-tag {
	margin: 0;
	direction: ltr;
	font-size: .75em;
	color: #b22222;
	border: 1px firebrick solid;
	padding: 0 7px;
}

.card--standard:not(.card--horizontal) > .card__content .card__badge:has(> .badge.color-custom-red) {
	display: none;
}

@media screen and (min-width: 990px) {
	.product_variants.default_product_variants {
		display: none;
	}

	.product_variants div:not(.product-size-picker-container) .size_variant_button:not(.disabled-variant-button) label:hover {
		background: var(--color-icon);
		color: var(--gradient-base-background-1);
	}
}