.variant_selector {
    align-items: center;
    display: flex;
}

.product_variants ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
}

.product_variants .size_variant_button {
    height: 100%;
    text-align: center;
    width: 50%;
    position: relative;
    cursor: pointer;
}

.product_variants .size_variant_button_container {
    border: 1px solid rgb(var(--color-foreground));
    width: 100%;
    height: 100%;
}

.product_variants .size_variant_button_container label {
    width: 100%;
    height: 100%;
    text-align: center;
    display: block;
    cursor: pointer;
    background: var(--gradient-base-background-1);
}

.product_variants .size_variant_button_container input {
    display: none;
}

.product_variants .size_variant_button_container input:checked + label {
    background-color: rgb(var(--color-foreground));
    color: rgb(var(--color-background));
}

.add_to_cart {
    width: 100%;
    background-color: rgb(var(--color-foreground));
    color: rgb(var(--color-background));
}

.add_to_cart.loading {
    color: rgb(var(--color-background));
}

.add_to_cart_container {
    padding: 0 2px;
    position: relative;
}

.submit_on_click .add_to_cart_container {
    display: none;
}


.variant_modal_overlay {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.6);
}

.variant_modal {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgb(var(--color-background));
    color: rgb(var(--color-foreground));
    width: 100%;
    height: 60vh;
    z-index: 100;
}

.variant_modal__toggle_button {
    z-index: 2;
}

.variant_modal .product-size-picker-container {
    position: relative;
    padding: 0;
}

.variant_modal .product_details {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 20px;
}

.variant_modal .product_details__image {
    width: auto;
    height: 100px;
}

.variant_modal .product_details__info {
    text-align: var(--text-alignment);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 4px 10px;
}

.variant_modal .product_size_picker__heading {
    width: 100%;
    border-bottom: 1px solid grey;
    text-align: var(--text-alignment);
    padding: 0 20px 10px;
}

.variant_modal .product_variants ul {
    flex-direction: column;
    width: 100%;
}

.variant_modal .product_variants li {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    max-width: none;
}

.variant_modal .product_variants .size_variant_button_container {
    border: none;
    border-bottom: 1px solid rgba(var(--color-foreground), 0.3);
    border-radius: unset;
}

.variant_modal .product_variants .size_variant_button_container label {
    text-align: var(--text-alignment);
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.variant_modal .size_variant_button_add {
    height: 20px;
    width: 20px;
    border: 2px #000 solid;
    border-radius: 50%;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.variant_modal .size_variant_button_add .icon {
    width: 10px;
    height: 10px;
    stroke: #000;
}

.variant_modal .quick_add_modal__close {
    width: 15px;
    margin-right: auto;
}

@keyframes borderOpacity {
    0% {
        width: 40px;
        height: 40px;
        opacity: 1;
    }
    50% {
        width: 60px;
        height: 60px;
        opacity: 0;
    }
    99% {
        width: 60px;
        height: 60px;
        opacity: 0;
    }
    100% {
        width: 40px;
        height: 40px;
        opacity: 1;
    }
}

.variant_modal__toggle_button {
    width: 40px;
    height: 40px;
    background-color: rgb(var(--color-badge-background));
    color: rgb(var(--color-foreground));
    border: none;
    border-radius: var(--badge-corner-radius);
    font-size: 16px;
    line-height: 56px;
    padding: 0;
    bottom: 10px;
    right: 10px;
    position: absolute;
    box-shadow: #00000026 0 0.2rem 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.variant_modal__toggle_button:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: var(--badge-corner-radius);
    background-color: rgb(var(--color-badge-background));
    z-index: -1;
    /*animation: borderOpacity 4s infinite;*/
}

@media screen and (min-width: 750px) {
    .variant_modal.mobile, .variant_modal__toggle_button.mobile {
        display: none;
    }
}

.add_to_cart_container .loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 20px;
    height: 20px;
}

.variant_modal__toggle_button .icon {
    position: relative;
    width: 50%;
    left: 2px;
}

.product_details-titles {
    margin: 0;
}

.variant_modal .product_variants li:last-child .size_variant_button_container {
    border-bottom: none;
}

.disabled-variant-button label {
    background: none;
}

.variant_modal__toggle_button .icon-plus {
    position: absolute;
    width: 9px;
    height: 9px;
    top: 18px;
    stroke: #000;
    stroke-width: 0px;
}

/* Custom style */

.complete_look__item .product_variants .size_variant_button_container label {
    font-size: var(--font-body-size-small);
    padding: .3rem 0;
}

.complete_look__item .product_variants .size_variant_button {
    width: 100%;
}

.complete_look__item .product_variants ul {
    gap: 0.5rem;
    flex-wrap: nowrap;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 0 0.5rem;
}

.disabled-variant-button label.product_size_picker__button__label,
.disabled-variant-button .size_variant_button_container{
    background: var(--gradient-base-background-3);
}