.mega-menu {
    position: static;
}

.mega-menu__content {
    background-color: rgb(var(--color-background));
    border-left: 0;
    border-radius: 0;
    border-right: 0;
    left: 0;
    overflow-y: auto;
    padding-bottom: 2.4rem;
    padding-top: 2.4rem;
    position: absolute;
    right: 0;
    top: 100%;
}

.shopify-section-header-sticky .mega-menu__content {
    max-height: calc(100vh - var(--header-bottom-position-desktop, 20rem) - 4rem);
}

.header-wrapper--border-bottom .mega-menu__content {
    border-top: 0;
}

.js .mega-menu__content {
    opacity: 0;
    transform: translateY(-1.5rem);
}

.mega-menu[open] .mega-menu__content {
    opacity: 1;
    transform: translateY(2.5rem);
}

.mega-menu__list {
    display: grid;
    gap: 2.4rem 4rem;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    list-style: none;
}

.mega-menu__link {
    color: rgba(var(--color-foreground), 0.75);
    display: block;
    font-size: 1.3rem;
    line-height: calc(1 + 0.3 / var(--font-body-scale));
    padding-bottom: 0.6rem;
    padding-top: 0.6rem;
    text-decoration: none;
    transition: text-decoration var(--duration-short) ease;
    word-wrap: break-word;
}

.mega-menu__link--level-2 {
    font-size: 1.4rem;
}

.mega-menu__link--level-2:not(:only-child) {
    margin-bottom: 0.8rem;
}

.header--top-center .mega-menu__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 0;
}

.header--top-center .mega-menu__list > li {
    width: 16%;
    padding-right: 2.4rem;
}

.mega-menu__link:hover,
.mega-menu__link--active {
    color: rgb(var(--color-foreground));
    text-decoration: underline;
}

.mega-menu__link--active:hover {
    text-decoration-thickness: 0.2rem;
}

.mega-menu .mega-menu__list--condensed {
    display: block;
}

.mega-menu__list--condensed .mega-menu__link {
    font-weight: normal;
}

.mega-menu__content.customizable .item_header {
    max-height: 30px;
}

.mega-menu__content.customizable .item_header .h3 {
    font-size: large;
    font-weight: bold;
}

.mega-menu__content.customizable .item_body {
    display: flex;
    max-height: 259px;
}

.mega-menu__content.customizable .item_body ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0 15px;
    max-height: 100%;
}

.mega-menu__content.customizable .item_body ul > li:first-child a {
    font-size: large;
    font-weight: bold;
}

.mega-menu__content.customizable.fix-direction li {
    text-align: var(--text-alignment);
}

.mega-menu__content.customizable li a {
    font-size: var(--font-size-menu-item);
}

.desktop_links_images {
    display: flex;
    padding: 0 10px;
    overflow: hidden;
    margin-right: auto;
    justify-content: flex-end;
    align-items: baseline;
    max-width: 52%;
}

.desktop_links_images > div {
    height: fit-content;
}

.desktop_links_images img {
    width: 100%;
    height: 100%;
	border-radius: var(--inputs-radius);
}

.menu-drawer-container.customizable .menu-drawer__menu-item {
    height: 150px;
    padding: 0;
}

.menu-drawer-container.customizable a.list-menu__item {
    padding: 0 30px;
	height: 125px;
}

.menu-drawer-container.customizable li:not(:last-child) a.list-menu__item {
    border-bottom: 1px solid silver;
}

.menu-drawer-container.customizable .mobile-link-cover {
    width: 100%;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0;
    color: white;
    font-size: var(--font-size-regular);
    background-size: cover;
}

.menu-drawer-container.customizable .mobile-link-cover-image-container img {
    width: 100%;
}

.menu-drawer-container.customizable .menu-drawer__menu.submenu-open {
    /*margin-right: -20px;*/
    z-index: 4;
}

.menu-drawer-container.customizable .menu-drawer__menu.submenu-open,
.menu-drawer-container.customizable .menu-drawer__menu.submenu-open > li:has(> header-menu > details.menu-opening),
.menu-drawer-container.customizable .menu-drawer__menu.submenu-open > li > header-menu:has(> details.menu-opening),
.menu-drawer-container.customizable .menu-drawer__menu.submenu-open > li > header-menu > details.menu-opening {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.menu-drawer-container.customizable .mobile_link_collection_image {
    height: 100px;
    width: 100px;
    margin-left: auto;
}

.menu-drawer-container.customizable .mobile_menu {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
	text-align: center;
}

.menu-drawer-container.customizable .nav_top .menu_images {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
	padding: 0 2rem;
}

.menu-drawer-container.customizable .nav_top img {
    width: 100%;
    height: auto;
}

.menu-drawer__item-image {
    width: 100%;
    height: 175px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hamburger-logo, .menu-drawer-container.customizable .nav_top .hamburger-logo {
    width: 40px;
    height: 44px;
    margin: 20px auto 16px;
    display: block;
}

.menu-drawer-container.customizable .menu-drawer__navigation {
    padding: 1rem 0;
}

:is(:not(.dropdown))ul.menu-drawer__menu {
	padding: 0 2rem;
}

.submenu-open ul.menu-drawer__menu {
	padding: 0;
}

.submenu-open ul.menu-drawer__menu li:first-child a {
	font-weight: bold;
}

.dropdown .submenu-open ul.menu-drawer__menu li:first-child a {
	font-weight: var(--font-body-weight-bold);
}

.dropdown .submenu-open li:nth-child(2) ul.menu-drawer__menu li:first-child a {
	color: firebrick;
}

.menu-drawer-container.customizable .menu-drawer__menu li + li {
    margin-top: 20px;
}

.menu-drawer-container.customizable .menu-drawer__menu li:nth-child(2) {
	margin-top: 0;
}

.menu-drawer-container.customizable .menu-drawer__navigation:has(.menu-drawer__menu.submenu-open) {
    padding: 0;
}

.menu-drawer-container.customizable  .menu-drawer__navigation:has(.menu-drawer__menu.submenu-open) .nav_top {
	padding: 1rem 0;
}

.menu-drawer-container.customizable .menu-drawer__submenu li + li {
    margin-top: 0;
}

.menu-drawer-container .js .menu-drawer__menu li {
    margin-bottom: 0;
}

.menu-drawer-container.customizable .mobile_menu {
    justify-content: space-between;
	padding: 0 2rem;
}

.header__menu-item {
    padding: 0;
}

.header__menu-item.active {
	font-weight: var(--font-body-weight-bold);
}

.menu-drawer-container.customizable .mobile_menu .header__menu-item:first-child {
	color: #bc0b0b;
}

.nav_top--logo-container {
	margin-bottom: calc(var(--grid-desktop-horizontal-spacing) * 2);
	padding-bottom: var(--grid-desktop-horizontal-spacing);
	border-bottom: 1px solid var(--gradient-base-background-4);
}

.dropdown .nav_top--logo-container {
	border-bottom: none;
	padding-bottom: 0;
}

.nav_top--mobile-logo {
    margin: auto;
    display: flex;
	justify-content: space-between;
	align-items: center;
    text-align: center;
	padding: 0 2rem;
}

.dropdown .nav_top--mobile-logo {
	padding: 0;
}

.mobile-header-closer {
	padding: 0;
	background: none;
	border: none;
}

.mobile-header-closer .icon-close {
	width: 1.2em;
	height: 1.2em;
	stroke: var(--gradient-base-accent-1);
}

.mobile-link-cover > span {
    display: none;
}

.menu-drawer__close-button {
    background-color: none;
}

.menu-drawer__close-button .icon-caret {
    transform: rotate(90deg);
    width: 1em;
}

.mobile_link_header {
    height: 150px;
    display: block;
}

.dropdown .mobile_link_header {
	height: auto;
}

.mobile_link_header_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.desktop-only {
    display: none !important;
}

.menu-drawer__menu.has-submenu.list-menu.submenu-open {
	top: 4rem;
}

.header__icon span {
		font-size: calc(var(--font-body-size-medium) * 0.9);
}

.menu-drawer__utility-links svg.icon-caret {
	width: 1.6rem;
	height: 1.6rem;
	top: 40%;
}

.menu-drawer__utility-links a.container-menu-item {
	color: var(--gradient-base-accent-1);
	text-decoration: none;
}

.menu-drawer__utility-links a.container-menu-item span {
	color: var(--loyalty-title-color);
}

.container-menu-item .icon-account {
	display: inline-block;
	height: 1.6rem;
	width: 1.6rem;
	margin-left: 0.5rem;
}

.mobile-menu-customer-container .menu-drawer__account-register.button--secondary {
	display: flex;
	width: 100%;
	margin: calc(var(--grid-desktop-horizontal-spacing) * 3) 0;
}

@media screen and (min-width: 990px) {

	.loyalty-tier {
		color: var(--loyalty-title-color);
	}

	summary.list-menu__item > a {
		color: black;
		text-decoration: none;
	}

	.mega-menu__content {
		width: 110%;
		margin: 0 auto 0 -5%;
		padding: 2rem;
	}

	.mega-menu-grid-container {
		display: grid;
		grid-template-rows: auto 1fr;
		row-gap: calc(var(--grid-mobile-horizontal-spacing) * 1.5);
	}

	.mega-menu-grid-container.two-grid {
		grid-template-columns: 1fr 1fr;
		column-gap: 1rem;
	}

	.mega-menu-grid-container.three-grid {
		grid-template-columns: repeat(3, auto);
	}

	/*#MegaMenu-Content-2 {*/
	/*	grid-template-columns: 1fr 1.5fr;*/
	/*}*/

	#MegaMenu-Content-2 li:first-child a {
		direction: ltr;
	}

	#MegaMenu-Content-3 {
		grid-template-columns: 1fr 1.5fr;
	}

	.mega-menu__content li a {
		font-size: var(--font-body-size-medium);
		padding: 0;
		margin: calc(var(--grid-desktop-vertical-spacing) * 1.4) 0;
	}

	.cart-count-bubble {
		width: 2.2rem;
		height: 2.2rem;
		bottom: 1pt;
		left: 1.6em;
	}

	.header__menu-item {
		font-size: calc(var(--font-body-size-large) * 0.85);
	}

	.list-menu li:last-child span {
		color: rgb(182, 50, 95);
	}

    .desktop-only {
        display: block !important;
    }

    .list-menu--inline {
        direction: rtl;
        column-gap: 3rem;
    }

    summary.list-menu__item {
        padding: 0;
    }

    .mega-menu .mega-menu__list--condensed {
        margin: 0;
	    padding: 0;
        grid-gap: 0.4rem 1rem;
    }

    .mega-menu__content {
        display: grid;
	    grid-template-columns: 1fr 1fr;
    }

    .shop-all-link {
	    text-align: right;
	    display: block;
	    text-decoration: none;
	    color: var(--color-icon);
	    font-weight: var(--font-body-weight-bold);
	    font-size: var(--font-body-size-large);
	    grid-column: 1 / -1;
    }

	.mega-menu__content.fix-direction li:first-child {
		text-decoration: none;
	}

	.mega-menu__content.fix-direction ul:nth-child(2) li:first-child a {
		font-weight: var(--font-body-weight-bold);
		text-decoration: none;
	}

	.header-block-list-element:first-child .mega-menu__content.fix-direction ul:nth-child(2) li:first-child a {
		color: firebrick;
		direction: ltr;
		text-decoration: none;
		font-weight: var(--font-body-weight-bold);
	}

	.header-block-list-element:first-child .mega-menu__content.fix-direction ul:nth-child(2) li a {
		direction: ltr;
	}

	.desktop_links_images {
		max-width: 100%;
		padding: 0;
	}

    .desktop_links_images a {
        border-right: 1px var(--gradient-base-background-3) solid;
        padding-right: 9px;
	    margin-bottom: 1rem;
    }

    .desktop_links_images > *:nth-child(2) {
        margin-right: 9px;
    }

	.header-blocks-list {
		align-items: baseline;
	}

	.header-block-list-element {
		display: block;
	}

	.header-block-list-element.small .header__menu-item {
		font-size: calc(var(--font-body-size-large) * 0.8);
	}

	.images-container {
		padding: 1.5em;
		border-radius: var(--inputs-radius);
		background: var(--gradient-base-background-3)
	}
}