.drawer {
    position: fixed;
    z-index: 100000;
    left: 0;
    top: 0;
	bottom: 0;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    background-color: rgba(var(--color-foreground), 0.5);
    transition: visibility var(--duration-default) ease;
	height: 100%; /* Fallback for browsers that do not support Custom Properties */
	height: calc(var(--vh, 1vh) * 100);
	overflow-y: hidden;
}

#CartDrawer {
	height: 100%;
	overflow-y: hidden;
}

.drawer.active {
    visibility: visible;
}

.drawer__inner {
	height: 100%; /* Fallback for browsers that do not support Custom Properties */
	height: calc(var(--vh, 1vh) * 100);
	width: 40rem;
	max-width: calc(100vw - 3rem);
	border: 0.1rem solid rgba(var(--color-foreground), 0.2);
	border-right: 0;
	display: flex;
	flex-direction: column;
	transform: translateX(100%);
	transition: transform var(--duration-default) ease;
	overflow: hidden;
}

.drawer__inner-empty {
	height: 100%;
	padding: 0 1.5rem;
	background-color: rgb(var(--color-background));
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.cart-drawer__warnings {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

cart-drawer .drawer__inner {
	display: grid;
	grid-template-rows: auto 1fr;
	align-items: center;
	padding: 0;
	border-top-left-radius: 1rem;
	border-bottom-left-radius: 1rem;
}

cart-drawer.is-empty .drawer__header {

}

.drawer__header {
	background: var(--color-icon);
	padding: 0 1.5rem;
	color: var(--gradient-background);
}

cart-drawer:not(.is-empty) .cart-drawer__warnings,
cart-drawer:not(.is-empty) .cart-drawer__collection {
	display: none;
}

.cart-drawer__warnings--has-collection .cart__login-title {
	margin-top: 2.5rem;
}

.drawer.active .drawer__inner {
	transform: translateX(0);
}

.drawer__header_title {
	position: relative;
	padding: 1.5rem 0 0 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.drawer__heading {
	margin: 0;
	color: var(--gradient-background);
}

.kettle-reward {
	width: 10px !important;
	height: 10px !important;
	fill: var(--gradient-background);
}

.drawer__close {
	display: inline-block;
	padding: 0;
	min-height: 4.4rem;
	box-shadow: 0 0 0 0.2rem rgba(var(--color-button), 0);
	position: absolute;
	top: 0;
	left: 0;
	color: rgb(var(--color-foreground));
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.cart-drawer__warnings .drawer__close {
	right: 5px;
}

.drawer__close svg {
	height: 1.4rem !important;
	width: 1.4rem !important;
	fill: var(--gradient-background);
	stroke: var(--gradient-background);
}

.drawer__contents {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.drawer__footer {
	background: rgb(var(--color-background));
	border-top: 0.1rem solid rgba(var(--color-foreground), 0.2);
	padding: 1.5rem 0;
	position: absolute;
	bottom: 0;
	width: calc(100% - 3rem);
	z-index: 3;
}

cart-drawer-items.is-empty + .drawer__footer {
	display: none;
}

.drawer__footer > details {
	margin-top: -1.5rem;
	border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.2);
}

.drawer__footer > details[open] {
	padding-bottom: 1.5rem;
}

.drawer__footer summary {
	display: flex;
	position: relative;
	line-height: 1;
	padding: 1.5rem 0;
}

.drawer__footer > details + .cart-drawer__footer {
	padding-top: 1.5rem;
}

cart-drawer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100%;
}

.cart-drawer__overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	overflow-y: hidden;
}

.cart-drawer__overlay:empty {
	display: block;
}

.cart-drawer__form {
	flex-grow: 1;
	display: flex;
	flex-wrap: wrap;
}

.cart-drawer__collection {
	margin: 0 2.5rem 1.5rem;
}

.cart-drawer .drawer__cart-items-wrapper {
	flex-grow: 1;
}

.cart-drawer .cart-items {
	display: block;
	width: 100%;
	height: 64vh;
	height: calc(var(--vh, 1vh) * 64);
	overflow-y: scroll;
}

.cart-drawer thead {
	display: inline-table;
	width: 100%;
	position: sticky;
	top: 0;
	z-index: 2;
	background-color: rgb(var(--color-base-background-1));
}

cart-drawer-items {
	overflow-y: scroll;
	flex: 1;
	display: block;
}

cart-drawer-items::-webkit-scrollbar {
	display: none;
}

@media screen and (max-height: 650px) {
	cart-drawer-items {
		overflow: visible;
	}

	.drawer__inner {
		overflow: scroll;
	}
}

.cart-drawer .cart-item {
	display: grid;
	grid-template: repeat(2, auto) / 1.8fr 2fr 2fr 1fr;
	gap: 1rem;
	margin-bottom: 0;
	padding-bottom: 1rem;
	position: relative;
	border-bottom: 1px solid var(--gradient-base-background-3);
}

.cart-drawer .cart-item:nth-last-child(2) {
	margin-bottom: 1rem;
}

.cart-drawer .cart-item:last-child {
	margin-bottom: 1rem;
}

.cart-drawer .cart-item__media {
	grid-row: 1 / 3;
}

.cart-drawer .cart-item__image {
	max-width: 100%;
}

.cart-drawer .cart-items thead {
	margin-bottom: 0.5rem;
	display: none;
}

.cart-drawer .cart-items thead th:first-child,
.cart-drawer .cart-items thead th:last-child {
	width: 0;
	padding: 0;
}

.cart-drawer .cart-items thead th:nth-child(2) {
	width: 50%;
	padding-left: 0;
}

.cart-drawer .cart-items thead tr {
	display: table-row;
	margin-bottom: 0;
}

.cart-drawer .cart-items th {
	border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
}

.cart-drawer .cart-item:last-child {
	margin-bottom: 1.5rem;
}

.cart-drawer .cart-item .loading-overlay {
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(var(--color-base-background-1), 0.5);
	padding-top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.cart-drawer .cart-items td {
	padding-top: 1rem;
}

.cart-item[data-product-id="7307408933004"] {
order: 129;
	grid-template: auto / repeat(2, 1fr);
	border-bottom: none;

}

.cart-item[data-product-id="7307408933004"] .cart-item__details,
.cart-item[data-product-id="7307408933004"] td.cart-item__quantity {
	grid-column: auto;
	padding: 0;
}

.cart-item[data-product-id="7307408933004"] .cart-item__media,
.cart-item[data-product-id="7307408933004"] .quantity,
.cart-item[data-product-id="7307408933004"] .cart-arranger {
	display: none;
}

.cart-item[data-product-id="7307408933004"] .cart-item__totals {
	display: none;
}

.cart-drawer .cart-item__details {
	width: auto;
	grid-column: 2 / 4;
}

.cart-drawer .cart-item__totals {
	pointer-events: none;
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
}

.cart-drawer.cart-drawer .cart-item__price-wrapper > *:only-child {
	margin-top: 0;
}

.cart-drawer .cart-item__price-wrapper .cart-item__discounted-prices {
	display: flex;
	flex-direction: column;
	gap: 0.6rem;
}

.cart-drawer .unit-price {
	margin-top: 0.6rem;
}

.cart-drawer .cart-items .cart-item__quantity {
	padding: 0;
	grid-column: 2 / 5;
	direction: ltr;
}

@media screen and (max-width: 749px) {
	.cart-drawer .cart-item cart-remove-button {
		margin-left: 0;
	}
}

.cart-drawer__footer > * + * {
	margin-top: 1rem;
}

.cart-drawer .totals {
	justify-content: space-between;
}

.cart-drawer .price {
	line-height: 1;
}

.cart-drawer .tax-note {
	margin: 1.2rem 0 1rem auto;
	text-align: left;
	display: none;
}

.cart-drawer .product-option dd {
	word-break: break-word;
}

.cart-drawer details[open] > summary .icon-caret {
	transform: rotate(180deg);
}

.cart-drawer .cart__checkout-button {
	max-width: none;
	font-weight: bold;
}

.drawer__footer .cart__dynamic-checkout-buttons {
	max-width: 100%;
}

.drawer__footer #dynamic-checkout-cart ul {
	flex-wrap: wrap !important;
	flex-direction: row !important;
	margin: 0.5rem -0.5rem 0 0 !important;
	gap: 0.5rem;
}

.drawer__footer [data-shopify-buttoncontainer] {
	justify-content: flex-start;
}

.drawer__footer #dynamic-checkout-cart ul > li {
	flex-basis: calc(50% - 0.5rem) !important;
	margin: 0 !important;
}

.drawer__footer #dynamic-checkout-cart ul > li:only-child {
	flex-basis: 100% !important;
	margin-right: 0.5rem !important;
}

@media screen and (min-width: 750px) {
	.drawer__footer #dynamic-checkout-cart ul > li {
		flex-basis: calc(100% / 3 - 0.5rem) !important;
		margin: 0 !important;
	}

	.drawer__footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(2),
	.drawer__footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(2) ~ li,
	.drawer__footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(4),
	.drawer__footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(4) ~ li {
		flex-basis: calc(50% - 0.5rem) !important;
	}

	.drawer__inner {
		width: 42rem;
	}
}

cart-drawer-items::-webkit-scrollbar {
	width: 3px;
}

cart-drawer-items::-webkit-scrollbar-thumb {
	background-color: rgba(var(--color-foreground), 0.7);
	border-radius: 100px;
}

cart-drawer-items::-webkit-scrollbar-track-piece {
	margin-top: 31px;
}

.reward-item.active-reward {

}

.rewards__missing_amount {
	font-weight: var(--font-body-weight-bold);
}

.reward-item__title {
	margin-right: var(--grid-mobile-vertical-spacing);
}

.rewards-section {
	direction: rtl;
	margin: 1rem 0;
	padding: 1rem 0 0;
	border-bottom: 1px solid rgba(var(--color-foreground), 0.1);
	font-size: calc(var(--font-body-size-small) * 1.2);
	border-top: 1px solid var(--gradient-base-background-4);
}

.rewards-section + section {
	margin: 1rem 0;
}

.reward-item {
	display: inline-flex;
	align-items: center;
}

.reward-item+.reward-item {
	margin-right: .5rem;
}

.reward-item.free_towel, .reward-item.free_hairties, .reward-item.free_hat {
	display: none;
}

.rewards-section .track-progress {
	height: 1rem;
	border: 1px solid rgba(var(--color-foreground), 0.1);
	border-radius: 25px;
	margin: 1rem 0;
	/*display: flex;*/
	display: none;
	background: rgba(222,205,205,.26);
}

.rewards-section .reward-text {
	/*display: flex;*/
	display: none;
	flex-direction: column;
}

.track-progress .progress-value {
	height: 100%;
	background: var(--cart-rewards-background);
	border-radius: 25px;
}

cart-drawer.loading .rewards-section {
	visibility: hidden;
}

.drawer__inner__content {
	position: relative;
	height: 100%;
	padding: 0 1.5rem;
	background: var(--gradient-background);
	overflow: hidden;
}

.cart-drawer__footer {
	margin-bottom: 1.5rem;
}

.cart-item__details .caption-with-letter-spacing {
	display: inline-block;
}

cart-drawer-items.is-empty {
	height: calc(100vh - 320px) !important;
	display: none;
}

.cart-rewards-icon-container {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background: rgba(225,225,225,.32);
	border-radius: 50%;
	height: 18px;
	width: 18px;
}

.reward-item .kettle-light, .reward-item.active-reward .kettle-reward {
	display: none;
}

.reward-item.active-reward .kettle-light {
	width: 10px !important;
	height: 10px !important;
	display: inline;
}

.reward-item.active-reward .cart-rewards-icon-container {
	background: var(--cart-rewards-background);
}

.quantity {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	direction: rtl;
}

.quantity__button:not(:focus-visible):not(.focused) {
	background-color: var(--gradient-base-background-3);
}

.quantity__button:focus {
	z-index: 1;
}

.quantity:before, .quantity:after {
	content: none;
}

.cart-item__quantity-wrapper {
	justify-content: space-between;
}

.totals__value {
	align-items: center;
	flex-direction: row-reverse;
}

.totals:not(:first-child) {
	display: none;
}

.customer-saved, .benefits-amount {
	color: firebrick;
	font-weight: var(--font-body-weight-bold);
}

.totals h2, div.benefits-announcement {
	font-size: var(--font-body-size-medium);
}

.totals__value p {
	margin: 0;
}

.quantity.cart-quantity.Package.Protection {
	display: none;
}

.cart__checkout-button circle, .cart__checkout-button svg {
	stroke: rgb(var(--color-background));
}

.cart__checkout-button .loading-overlay {
	justify-content: center;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
}

.gift-span {
	animation: ease-in-out 1.4s flash;
	animation-iteration-count: infinite;
}

@keyframes flash {
	0% {
		color: var(--gradient-background);
	}

	25% {
		color: var(--gradient-background);
	}

	50% {
		color: var(--cart-rewards-background);
	}

	75% {
		color: var(--cart-rewards-background);
	}

	100% {
		color: var(--gradient-background);
	}
}

@media screen and (min-width: 990px) {
	.cart-drawer .cart-items .cart-item__quantity {
		align-self: center;
		height: fit-content;
	}

	.cart-drawer .cart-items, .cart-drawer tbody {
		height: 64vh;
		height: calc(var(--vh, 1vh) * 64);
	}
}

.cart-drawer .list-payment__item.list-social__item .icon {
	width: 2.5rem;
	height: 2.5rem;
}