.product-media-gallery-container {
    position: relative;
}

.product-media-gallery-container .model-switcher {
    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 3;
}

.model-wears-content {
	margin-right: 1rem;
}

.model-wears-text {
	margin: 0;
}

.model-switch-button {
    padding: 5px 10px;
    border: 1px solid var(--color-icon);
	width: fit-content;
    background: var(--gradient-base-background-1);
    font-family: inherit;
    cursor: pointer;
	margin-bottom: 1rem;
}

.model-switcher__list {
    display: flex;
    flex-direction: column;
    background-color: rgb(var(--color-background));
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#model-switch {

}

.model-switcher__item + .model-switcher__item {
    margin-top: 10px
}

.model-switcher__item input {
    display: none;
}

.model-switcher__item img {
    width: 80px;
    height: auto;
	object-fit: cover;
}

.model-switcher__item label {
    width: 100%;
	display: grid;
	grid-template-columns: 1fr 2fr;
}

.model-size-bold {
	font-weight: var(--font-body-weight-bold);
}
