.dropdown a {
	display: block;
}

.header__icon--menu {
    position: initial;
	width: 3.5rem;
	justify-content: center;
}

.js menu-drawer > details > summary::before,
.js menu-drawer > details[open]:not(.menu-opening) > summary::before {
    content: '';
    position: absolute;
    cursor: default;
    width: 100%;
    height: calc(100vh - 100%);
    height: calc(var(--viewport-height, 100vh) - (var(--header-bottom-position, 100%)));
    top: 100%;
    left: 0;
    background: rgba(var(--color-foreground), 0.5);
    opacity: 0;
    visibility: hidden;
    z-index: 2;
    transition: opacity 0s, visibility 0s;
}

menu-drawer > details[open] > summary::before {
    visibility: visible;
    opacity: 1;
    transition: opacity var(--duration-default) ease,
    visibility var(--duration-default) ease;
}

.menu-drawer {
    position: fixed;
    transform: translateX(-100%);
    visibility: hidden;
    z-index: 3;
    left: 0;
    top: 0;
    width: calc(100vw - 5rem);
    padding: 0;
    border-width: 0 var(--drawer-border-width) 0 0;
    background-color: rgb(var(--color-background));
    overflow-x: hidden;
    border-style: solid;
    border-color: rgba(var(--color-foreground), var(--drawer-border-opacity));
}

.dropdown .menu-drawer {
	border-top-right-radius: var(--inputs-radius);
	border-bottom-right-radius: var(--inputs-radius);
}

.js .menu-drawer {
	height: calc((var(--vh, 1vh) * 100) - 100%);
    /*height: calc(100vh - 100%);*/
	/*height: calc((var(--vh, 1vh) * 100) - (var(--header-bottom-position, 100%)));*/
	/*height: var(--viewport-height, 100vh);*/
	height: calc(var(--viewport-height, 1vh) * 100);
}

.js details[open] > .menu-drawer,
.js details[open] > .menu-drawer__submenu {
    transition: transform var(--duration-default) ease,
    visibility var(--duration-default) ease;
}

.no-js details[open] > .menu-drawer,
.js details[open].menu-opening > .menu-drawer,
details[open].menu-opening > .menu-drawer__submenu {
    transform: translateX(0);
    visibility: visible;
}

.js .menu-drawer__navigation .submenu-open {
    visibility: hidden; /* hide menus from screen readers when hidden by submenu */
}

.js .dropdown .menu-drawer__navigation .submenu-open {
			visibility: visible;
}

.dropdown .menu_images, .menu_images {
	display: flex;
	width: calc(100vw - 5rem);
	overflow-x: auto;
	overflow-y: hidden;
  padding: 1.5rem;
	height: fit-content;
	background-color: var(--gradient-base-background-3);
}

.dropdown-image-container {
	display: block;
	width: fit-content;
	height: fit-content;
	margin-right: var(--grid-desktop-vertical-spacing);
	position: relative;
}

.dropdown-image-container img {
	width: 80vw;
	max-width: max-content;
	border-radius: var(--inputs-radius);
	height: 21rem;
	object-fit: cover;
}

.dropdown .mobile-header-closer {
	position: absolute;
	right: 1rem;
	top: 50%;
	transform: translateY(-50%);
	background-color: transparent;
	border: none;
}

.dropdown .mobile-header-closer .icon-close {
	width: 1.4rem;
	height: 1.4rem;
	stroke: var(--gradient-background);
}

.login-or-register-container {
	width: 100%;
	padding: 1.5rem;
	text-align: center;
	background: var(--gradient-base-accent-1);
	border: none;
	display: flex;
	justify-content: center;
	align-items: baseline;
	column-gap: var(--grid-mobile-horizontal-spacing);
}

.login-or-register-container span {
	color: var(--gradient-background);
}

.login-or-register-container.header__logged-in {
	text-align: right;
	direction: rtl;
}

.login-or-register .icon,
.login-or-register-container .icon {
	width: 1.6rem;
	height: 1.6rem;
	fill: var(--gradient-background);
}

.nav_top--mobile-logo {
	position: relative;
}

.dropdown .header__icon--search {
	background: var(--gradient-base-background-3);
	width: 100%;
}

.dropdown a.login-or-register span {
	position: relative;
	bottom: .2rem;
}

.dropdown a.login-or-register span.underlined-link {
	text-decoration: underline;
}

.dropdown-search-details {
	padding: 0 2rem;
	width: 100%;
}

.dropdown a.login-or-register, .dropdown span.login-or-register {
	color: var(--gradient-background);
	font-size: calc(var(--font-body-size-medium) * 0.9);
	display: flex;
	align-items: baseline;
	justify-content: center;
	column-gap: var(--grid-mobile-vertical-spacing);
	text-decoration: none;
}

.dropdown span.login-or-register {
	text-decoration: underline;
	font-size: var(--font-body-size-medium);
	position: relative;
	bottom: 2px;
}

.dropdown .mobile_menu {
	display: flex;
	justify-content: space-between;
	padding-left: 3rem;
	padding-right: 3rem;
}

.menu-drawer__inner-container {
    position: relative;
    height: 100%;
}

.menu-drawer__navigation-container {
    display: grid;
    grid-template-rows: 1fr auto;
    align-content: space-between;
    overflow-y: auto;
    height: 100%;
}

.dropdown .menu-drawer__navigation-container {
	overflow-x: hidden;
}

.menu-drawer__navigation {
    padding: 5.6rem 0;
}

.dropdown .menu-drawer__navigation {
	padding: 0;
	position: relative;
	height: fit-content;
}

.menu-drawer__inner-submenu {
	overflow: hidden;
}

.menu-drawer__inner-submenu > ul {
	overflow-x: hidden;
	overflow-y: auto;
}

.no-js .menu-drawer__navigation {
    padding: 0;
}

.no-js .menu-drawer__navigation > ul > li {
    border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.04);
}

.no-js .menu-drawer__submenu ul > li {
    border-top: 0.1rem solid rgba(var(--color-foreground), 0.04);
}

.js .menu-drawer__menu li {
    margin-bottom: 0.2rem;
}

.js .dropdown .menu-drawer__menu>li {
	border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.1);
}

.js .dropdown .menu-drawer__menu>li:first-child {
	color: firebrick;
}

.js .dropdown .menu-drawer__menu>li:last-child, .js .dropdown .menu-drawer__menu.has-submenu>li:nth-last-child(2) {
	border-bottom: none;
}

.js .dropdown .menu-drawer__menu.has-submenu.list-menu.submenu-open > li:last-child,
.js .dropdown .menu-drawer__menu.has-submenu.list-menu.submenu-open > li:nth-last-child(2) {
	border-bottom: none;
}

.menu-drawer__menu-item {
    padding: 1.1rem 1.5rem;
    text-decoration: none;
    font-size: 1.8rem;
}

.no-js .menu-drawer__menu-item {
    font-size: 1.6rem;
}

.no-js .menu-drawer__submenu .menu-drawer__menu-item {
    padding: 1.2rem 5.2rem 1.2rem 6rem;
}

.no-js .menu-drawer__submenu .menu-drawer__submenu .menu-drawer__menu-item {
    padding-left: 9rem;
}

.menu-drawer summary.menu-drawer__menu-item {
    padding-right: 5.2rem;
}

.dropdown .menu-drawer__menu.has-submenu {
	margin-right: 2rem;
	margin-left: 2rem;
}

.dropdown .menu-drawer__menu.has-submenu>li:first-child .menu-drawer__menu-list-item:first-child>a {
	color: firebrick;
}

.dropdown .menu-drawer summary.menu-drawer__menu-item {
	justify-content: space-between;
	padding: 3rem 0;
}

.mobile_link_header {
	padding: 3rem 0;
	color: var(--color-foreground);
	text-decoration: none;
}

.menu-drawer__menu-item, .mobile_link_header {
	font-size: calc(var(--font-body-size-medium) * 1.1);
}

.no-js .menu-drawer__menu-item .icon-caret {
    right: 3rem;
}

.menu-drawer__menu-item--active,
.menu-drawer__menu-item:focus,
.menu-drawer__close-button:focus,
.menu-drawer__menu-item:hover,
.menu-drawer__close-button:hover {
    color: rgb(var(--color-foreground));
    background-color: none;
}

.menu-drawer__menu-item--active:hover {
    background-color: rgba(var(--color-foreground), 0.08);
}

.js .menu-drawer__menu-item .icon-caret,
.no-js .menu-drawer .icon-arrow {
    /*display: none;*/
}

.dropdown .menu-drawer__menu-item .icon-caret {
	position: static;
	color: gray;
}

.dropdown details[open] > .menu-drawer__menu-item .icon-caret {
	transform: rotate(180deg);
}

.menu-drawer__menu-item > .icon-arrow {
    position: absolute;
    right: 2.5rem;
    top: 50%;
    transform: translateY(-50%);
}

.js .menu-drawer__submenu {
    position: absolute;
    top: 5.5rem;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: rgb(var(--color-background));
    border-left: 0.1rem solid rgba(var(--color-foreground), 0.2);
    z-index: 1;
    transform: translateX(100%);
    visibility: hidden;
}

.js .dropdown .menu-drawer__submenu {
	border-left: 0;
}

.dropdown .menu-drawer__submenu {
	position: relative;
	top: 0;
	left: 0;
	bottom: auto;
	transform: translateX(0);
	visibility: visible;
	transition: 0s;
}

.js .menu-drawer__submenu .menu-drawer__submenu {
    overflow-y: auto;
}

.menu-drawer__close-button {
    margin-top: 1.5rem;
    padding: 1.2rem 2.6rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    width: 100%;
    background-color: none;
    font-family: var(--font-body-family);
    font-style: var(--font-body-style);
    text-align: left;
}

.no-js .menu-drawer__close-button {
    display: none;
}

.menu-drawer__close-button .icon-arrow {
    transform: rotate(180deg);
    margin-right: 1rem;
}

.menu-drawer__utility-links {
    padding: 0 2rem 2rem;
    background-color: var(--gradient-base-background-3);
}

.menu-drawer__account {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    padding: 1.2rem;
    margin-left: -1.2rem;
    font-size: 1.4rem;
    color: rgb(var(--color-foreground));
}

.menu-drawer__account .icon-account {
    height: 2rem;
    width: 2rem;
    margin-right: 1rem;
}

.menu-drawer__account:hover .icon-account {
    transform: scale(1.07);
}

.menu-drawer .list-social {
    justify-content: flex-start;
    margin-left: -1.25rem;
    margin-top: 2rem;
}

.menu-drawer .list-social:empty {
    display: none;
}

.menu-drawer .list-social__link {
    padding: 1.3rem 1.25rem;
}

.menu-drawer__account-container {
    display: flex;
    flex-direction: column;
}

.menu-drawer__account-social_icons {
    padding: 1rem 0;
    margin-bottom: 1em;
    z-index: 2;
    position: relative;
}

.menu-drawer .menu-drawer__account-social_icons .list-social {
    margin: 0;
}

.menu-drawer__utility-links {
    background: var(--gradient-base-background-3);
}

.dropdown .menu-drawer__utility-links {
	padding-top: 2rem;
}

.menu-drawer__account-title {
    text-align: right;
}

/* TODO: Check margins and make responsive */
.menu-drawer__account-login {
    margin-bottom: 19px;
}

.menu-drawer__navigation {
    padding-bottom: 0;
}

.menu-drawer__close-button {
	position: absolute;
	top: -6rem;
}

.dropdown .list-menu__item {
	padding: 2.1rem 0;
}

.dropdown .menu-drawer__inner-container {
	overflow-x: hidden;
}

.js .dropdown .menu-drawer__menu .menu-drawer__menu-list-item {
	border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.1);
}

.js .dropdown .menu-drawer__menu .menu-drawer__menu-list-item a {
	font-size: var(--font-body-size-medium);
	color: rgba(var(--color-foreground), 0.8);
	padding-left: .5rem;
}

.js .dropdown .menu-drawer__menu .menu-drawer__menu-list-item a:focus,
.js .dropdown .menu-drawer__menu .menu-drawer__menu-list-item a:active,
.js .dropdown .menu-drawer__menu .menu-drawer__menu-list-item a:hover {
	color: var(--gradient-base-accent-1);
}

.js .dropdown .menu-drawer__inner-submenu .menu-drawer__menu-list-item:last-child {
	border-bottom: 0;
}

.desktop_links_image_1_text {
	position: absolute;
	top: 1rem;
	left: 1rem;
}

.desktop_links_image_1_text span {
	color: var(--gradient-base-accent-1);
	font-size: var(--font-body-size-small);
	background: var(--gradient-background);
	padding: 0.5rem;
	font-weight: var(--font-body-weight-bold);
	border-radius: 4px;
}

.desktop_links_image_1_title {
	/*width: calc(100% - 2rem);*/
	/*position: absolute;*/
	/*bottom: 1.5rem;*/
	/*left: 1rem;*/
	/*display: flex;*/
	/*justify-content: space-between;*/
	/*align-items: end;*/
	/*color: var(--gradient-background);*/
	/*font-weight: var(--font-body-weight-bold);*/
	/*font-size: var(--font-body-size-large);*/

	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: end;
	color: var(--gradient-background);
	font-weight: var(--font-body-weight-bold);
	font-size: var(--font-body-size-large);
	padding: 1rem 1.5rem;
	background: linear-gradient(0deg, black, transparent);
	border-bottom-left-radius: var(--inputs-radius);
	border-bottom-right-radius: var(--inputs-radius);
}

.desktop_links_image_1_title .icon-container {
	background: var(--gradient-background);
	height: 34px;
	width: 34px;
	border-radius: 50%;
	transform: rotate(270deg);
	display: flex;
	align-items: center;
	justify-content: center;
}

.desktop_links_image_1_title .icon-caret {
	color: var(--gradient-base-accent-1);
	width: 1.3rem;
}

.header--footer-linklist {
	padding: 0;
}

.header--footer {
	padding: 0 2rem 2rem;
	background: var(--gradient-base-background-3);
}

.header--footer-link {
	text-decoration: none;
	margin: var(--grid-desktop-vertical-spacing) 0;
}

@media screen and (min-width: 990px) {

	.menu_images {
		direction: ltr;
		width: auto;
		padding: 0;
		padding-bottom: 5px;
	}

	.menu_images::-webkit-scrollbar-thumb {
		background: var(--gradient-base-background-4);
		height: 5px;
		border-radius: 10px;
	}

	.menu_images::-webkit-scrollbar {
		width: 5px;
		height: 5px;
		margin-top: 5px;
	}

	.menu_images::-webkit-scrollbar-track {
		background: var(--gradient-base-background-3);
		border-radius: 10px;
		height: 5px;
		margin-top: 5px;
	}

	.dropdown-image-container img {
		width: 25vw;
	}

	.dropdown-header__menu-item {
		color: rgb(var(--color-foreground));
		text-decoration: none;
	}

	.menu-drawer {
		width: 40rem;
	}

	.no-js .menu-drawer {
		height: auto;
	}
}