.custom-blocks-links-container {
	margin-bottom: 0;
	background: var(--gradient-base-background-3);
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	gap: calc(var(--grid-desktop-vertical-spacing) * 2);
}

.icon-faq-main {
	margin: auto;
	display: block;
	height: 3.5rem;
	width: 3.5rem;
}

.custom-link-grid-item {
	padding: 3rem 1rem;
	background: var(--gradient-background);
	border: 1px var(--gradient-background) solid;
	border-radius: var(--inputs-radius);
}

div.custom-link-grid-item.grid__item {
	width: calc(48% - var(--grid-mobile-horizontal-spacing) / 2);
}

.faq-square-link-text {
	margin:  1rem 0 0;
	font-weight: var(--font-body-weight-bold);
}

.custom-link-grid-item.active {
	border: 1px var(--gradient-base-accent-1) solid;
}

.custom-blocks-links-url {
	text-decoration: none;
}

@media screen and (min-width: 990px) {
	.custom-blocks-links-container {
		padding-left: 5%;
		padding-right: 5%;
	}

	div.custom-link-grid-item.grid__item {
		width: calc(23% - var(--grid-mobile-horizontal-spacing) / 2);
		padding: 5rem 1rem;
	}

	.faq-square-link-text {
		margin: 2rem 0 0;
	}

	.custom-link-grid-item:hover {
		border: 1px var(--gradient-base-accent-1) solid;
	}

	.icon-faq-main {
		width: 5rem;
		height: 5rem;
	}
}