#returnGoAccountWidget {
	display: none;
}

.customer svg, .customer .icon {
	max-width: 2rem !important;
	max-height: 2rem !important;
}

.form__general-errors {
	text-align: right;
}

a.container-menu-item.container-menu-item-logout.desktop--only {
	display: none;
}

.bold {
	font-weight: bold;
}

.customer a {
	text-decoration: none;
	display: block;
}

.customer a.inline {
	text-decoration: underline;
}

a.no-decoration {
	text-decoration: none;
}

.customer:not(.account):not(.order) {
  margin: 0 auto;
  max-width: 44rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  text-align: center;
}

@media screen and (min-width: 750px) {
  .customer:not(.account):not(.order) {
    max-width: 47.8rem;
  }
}

.customer > h1,
.customer__title {
  margin-top: 0;
	margin-bottom: 1rem;
}

.customer form {
  margin-top: 4rem;
}

.customer button {
  margin: 2rem 0 1.5rem;
	width: 100%;
}

.customer ul {
  line-height: calc(1 + 0.6 / var(--font-body-scale));
  padding-left: 4.4rem;
  text-align: right;
  margin-bottom: 4rem;
}

.customer ul a {
  display: inline;
}

.customer strong {
  font-weight: normal;
  color: rgb(var(--color-foreground));
}

.customer h2.form__message {
  font-size: calc(var(--font-heading-scale) * 1.8rem);
}

@media only screen and (min-width: 750px) {
  .customer h2.form__message {
    font-size: calc(var(--font-heading-scale) * 2.2rem);
  }
}

.customer .field {
  margin: 4rem 0 0 0;
}

.customer .field:first-of-type {
  margin-top: 0;
}

.custom-customer-account-container .customer .field label,
.customer .field input:focus ~ label,
.customer .field input:-webkit-autofill~label,
.customer .field input:not(:placeholder-shown) ~ label {
	top: -3rem;
	right: 0;
	font-size: 1.6rem;
}

/* Customer Table */
.customer table {
  table-layout: auto;
  border-collapse: collapse;
  border-bottom: 0.01rem solid rgba(var(--color-foreground), 0.08);
  box-shadow: none;
  width: calc(100% - 2em);
	margin: auto;
  font-size: 1.6rem;
  position: relative;
}

@media screen and (min-width: 750px) {
  .customer table {
    border: none;
    box-shadow: 0 0 0 0.1rem rgba(var(--color-foreground), 0.08);
  }
}

@media screen and (forced-colors: active) {
  .customer table {
    border-top: 0.1rem solid transparent;
    border-bottom: 0.1rem solid transparent;
  }
}

.customer tbody {
  color: rgb(var(--color-foreground));
}

.customer th,
.customer td {
  font-weight: 400;
  line-height: 1;
  border: none;
  padding: 0;
}

@media screen and (min-width: 750px) {
  .customer td {
    padding-left: 2.2rem;
  }
}

.customer tbody td {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.customer td:empty {
  display: initial;
}

.customer thead th {
  font-size: 1.2rem;
  letter-spacing: 0.07rem;
  text-transform: uppercase;
}

@media screen and (min-width: 750px) {
  .customer th,
  .customer td:first-of-type {
    text-align: right;
    padding-right: 0;
    padding-left: 2.2rem;
  }

  .customer thead th,
  .customer tbody td {
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
  }

  .customer th:first-of-type,
  .customer td:first-of-type {
    padding-left: 2.2rem;
  }

  .customer tbody td {
    vertical-align: middle;
  }

  .customer tbody td:first-of-type {
    padding-top: 2.4rem;
  }
}

.customer tbody td:first-of-type {
	padding-top: 4rem;
}

.customer tbody tr {
  border-top: none;
	border-bottom: 1px var(--gradient-base-background-4) solid;
}

.customer tbody tr:last-child {
	border-bottom: none;
}

@media screen and (min-width: 750px) {
  .customer tbody tr:first-of-type {
    border-top: none;
  }
}

@media screen and (forced-colors: active) {
  .customer tbody tr {
    border-top: 0.1rem solid transparent;
  }
}

.customer tfoot td:first-of-type,
.customer tfoot td {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}

.customer tfoot tr:first-of-type td {
  padding-top: 4rem;
}

@media screen and (min-width: 750px) {
  .customer tfoot tr:first-of-type td,
  .customer tfoot tr:first-of-type th {
    padding-top: 2.4rem;
  }
}

.customer tfoot tr:last-of-type td {
  padding-bottom: 4rem;
}

@media screen and (min-width: 750px) {
  .customer tfoot tr:last-of-type td,
  .customer tfoot tr:last-of-type th {
    padding-bottom: 2.4rem;
  }
}

/* works around colspan phantom border issues */
.customer thead::after,
.customer tfoot::before {
  content: ' ';
  height: 0.1rem;
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  background: rgba(var(--color-foreground), 0.08);
}

@media screen and (forced-colors: active) {
  .customer thead::after,
  .customer tfoot::before {
    background: CanvasText;
  }
}

/* mobile table overrides */
@media screen and (max-width: 749px) {

	thead {
		display: none;
	}

  .customer td {
    display: flex;
    text-align: right;
  }

  .customer td::before {
    color: rgba(var(--color-foreground), 0.75);
    /*content: attr(data-label);*/
    font-size: 1.4rem;
    text-transform: uppercase;
    flex-grow: 1;
    text-align: right;
  }

  .customer td:first-of-type {
    display: flex;
    align-items: center;
  }

  .customer tr {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
  }
}

/* Pagination */
.customer .pagination {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.customer .pagination ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.customer .pagination li {
  width: 23rem;
	flex: initial;
	max-width: 100%;
}

.customer .pagination li:not(:last-child) {
  margin-left: 1rem;
}

.customer .pagination li :first-child {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 4rem;
  width: 100%;
  padding: 0;
  text-decoration: none;
}

.customer .pagination li :first-child svg {
  height: 0.6rem;
}

.customer .pagination li:first-of-type svg {
  margin-left: -0.2rem;
  transform: rotate(-90deg);
}

.customer .pagination li:last-of-type svg {
  margin-right: -0.2rem;
  transform: rotate(90deg);
}

.customer .pagination li [aria-current]::after {
  content: '';
  display: block;
  width: 2rem;
  height: 0.01rem;
  position: absolute;
  bottom: 0.08rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: currentColor;
}

/* Login */
.login a {
  display: block;
  margin: 0 auto;
  width: fit-content;
}

.login a[href='#recover'] {
  margin-left: 0;
  margin-right: 0;
}

.login .field + a {
  margin-top: 1rem;
}

.login p {
  margin: 1.5rem 0;
}

.login h3 {
  margin-top: 1.5rem;
  text-align: right;
  font-size: calc(var(--font-heading-scale) * 1.5rem);
}

#customer_login_guest button {
  margin-top: 0;
}

#recover,
#recover + div {
  display: none;
}

#recover:target {
  display: block;
}

#recover:target + div {
  display: block;
}

#recover:target ~ #login,
#recover:target ~ #login + div,
#recover:target + div + div {
  display: none;
}

#recover,
#login {
  scroll-margin-top: 20rem;
}

#recover {
  margin-bottom: 0;
}

.activate button[name='decline'],
.addresses li > button,
.addresses form button[type] {
  background-color: rgba(var(--color-background), var(--alpha-button-background));
  color: rgb(var(--color-link));
}

@media only screen and (min-width: 750px) {
  .activate button[name='decline'] {
    margin-top: inherit;
    margin-left: 1rem;
  }
}

.accept-marketing-notice a {
	font-size: inherit;
}

/* Account/Order */
.account, .order {
  margin: 0 auto;
  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@media screen and (min-width: 750px) {
  :is(.account, .order) {
    padding-left: 5rem;
    padding-right: 5rem;
	  padding-bottom: 0 !important;
  }
}

@media screen and (min-width: 990px) {

	a.container-menu-item.container-menu-item-logout.desktop--only {
		display: block;
	}

	a.container-menu-item.container-menu-item-refer {
		border-bottom: 1px var(--gradient-base-background-4) solid;
	}

	.container-menu-item .icon-caret {
		transform: translateY(-100%);
	}

  :is(.account, .order) > div:nth-of-type(2) {
    display: grid;
	  grid-template-columns: 1fr 3fr;
    margin-top: 5rem;
	  column-gap: calc(var(--grid-desktop-vertical-spacing) * 2);
  }

	:is(.account, .order) > div:nth-of-type(2) > div:first-of-type {
		flex-grow: 1;
	}
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .order > div:nth-of-type(2) > div:last-of-type {
    display: flex;
  }

  .order > div:nth-of-type(2) > div:last-of-type div {
    padding-right: 3.2rem;
  }
}

:is(.account, .order) p {
  margin: 0 0 2rem;
  font-size: 1.6rem;
}

:is(.account, .order) h1 {
  margin-bottom: 1rem;
}

:is(.account, .order) h2 {
  margin-top: 4rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 990px) {
  :is(.account, .order) h2 {
    margin-top: 2rem;
  }
}

.account h1 + a {
  display: inline-flex;
  align-items: center;
}

.account a svg, .account span svg {
  width: 1.5rem;
  margin-bottom: -0.03rem;
  margin-right: 1rem;
}

@media screen and (min-width: 750px) {
  .account thead th:last-child,
  .account td:last-child {
    text-align: right;
  }

  .account table td:first-of-type {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
  }
}

.account table td:first-of-type a:hover {
  box-shadow: 0 0 0 0.2rem rgba(var(--color-link), 0.2);
}

.order td:first-of-type {
  align-items: initial;
}

@media screen and (min-width: 750px) {
  .order thead th:nth-last-child(-n + 3),
  .order td:nth-last-child(-n + 3) {
    text-align: right;
  }
}

.order tfoot tr:last-of-type td,
.order tfoot tr:last-of-type th {
  font-size: 2.2rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.customer.order table {
	border-bottom: none;
}

@media screen and (min-width: 750px) {
  .order tfoot tr:last-of-type td,
  .order tfoot tr:last-of-type th {
    padding-bottom: 2.4rem;
  }
}

.order tfoot tr:last-of-type td:before {
  font-size: 2.2rem;
}

.order table p,
.order > div:nth-of-type(2) > div:first-of-type h2,
.order > div:nth-of-type(2) > div:last-of-type h2 + p {
  margin-bottom: 0;
}

.order > div:nth-of-type(2) > div:first-of-type h2 ~ p {
  margin-bottom: 0;
  font-size: 1.4rem;
}

.order > div:nth-of-type(2) > div:first-of-type h2 ~ p:last-of-type {
  margin-bottom: 3rem;
}

.order .item-props {
  font-size: 1.4rem;
  margin-top: 0.05px;
  display: flex;
  flex-direction: column;
}

.order .item-props > span {
  word-break: break-all;
  line-height: calc(1 + 0.2 / var(--font-body-scale));
}

.order .fulfillment {
  width: fit-content;
  border: 0.01rem solid rgba(var(--color-foreground), 0.2);
  padding: 1rem;
  margin-top: 1rem;
  font-size: 1.4rem;
  text-align: right;
}

.order .fulfillment a {
  margin: 0.7rem 0;
}

.order .fulfillment span {
  display: block;
}

.order .cart-discount {
  display: block;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

@media screen and (min-width: 750px) {
  .order td .cart-discount {
    display: none;
  }
}

.order tbody ul {
  list-style: none;
  font-size: 1.2rem;
  text-align: right;
  padding: 0;
  margin-top: 1rem;
  margin-bottom: 0;
}

.order table a {
  line-height: calc(1 + 0.3 / var(--font-body-scale));
}

.order tbody tr:first-of-type td:first-of-type > div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media screen and (min-width: 750px) {
  .order tbody tr:first-of-type td:first-of-type > div {
    align-items: flex-start;
  }
}

.order .properties {
  font-size: 1.4rem;
  margin-top: 1rem;
}

.order .properties span {
  display: block;
  line-height: calc(1 + 0.2 / var(--font-body-scale));
}

.order svg {
  width: 1.5rem;
  color: rgb(var(--color-base-accent-1));
  margin-right: 0.5rem;
}

.order dl, p.orders-modal-account-title {
  margin: 0;
}

.orders-title {
	font-size: var(--font-body-size-large);
}

.customer tbody td.block {
	flex-direction: column;
	text-align: right;
	align-items: flex-start;
	padding-top: 0;
}

p.orders-description {
	margin: 0;
}

.orders-modal-account-title {
	font-size: var(--font-body-size-medium);
	font-weight: var(--font-body-weight-bold);
}

.order dd {
  margin-right: 0;
  line-height: calc(1 + 0.3 / var(--font-body-scale));
}

.order dd s {
  color: rgba(var(--color-foreground), 0.7);
}

.order .unit-price {
  font-size: 1.1rem;
  letter-spacing: 0.07rem;
  line-height: calc(1 + 0.2 / var(--font-body-scale));
  margin-top: 0.2rem;
  text-transform: uppercase;
  color: rgba(var(--color-foreground), 0.7);
}

.order .regular-price {
  font-size: 1.3rem;
}

/* Addresses */
.addresses li > button {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.addresses li > button + button,
.addresses form button + button {
  margin-top: 0rem;
}

@media screen and (min-width: 750px) {
  .addresses li > button:first-of-type {
    margin-top: 3rem;
  }
}

label[for='AddressCountryNew'],
label[for='AddressProvinceNew'] {
  display: block;
  font-size: 1.4rem;
  margin-bottom: 0.6rem;
}

.addresses form {
  display: flex;
  flex-flow: row wrap;
}

.addresses form > div {
  width: 100%;
}

.addresses ul {
  list-style: none;
  padding-left: 0;
  text-align: right;
}

li[data-address] {
  margin-top: 5rem;
}

.addresses [aria-expanded='false'] ~ div[id] {
  display: none;
}

.addresses [aria-expanded='true'] ~ div[id] {
  display: block;
}

li[data-address] > h2 {
	text-align: right;
	font-size: var(--font-heading-scale);
	margin: 0;
	color: var(--gradient-base-background-4);
}

.inline {
	display: inline!important;
}

@media only screen and (min-width: 750px) {
  li[data-address] > h2 {
    font-size: calc(var(--font-heading-scale) * 2.2rem);
  }
}

.addresses ul p {
  margin-bottom: 0;
}

.addresses input[type='checkbox'] {
  margin-top: 2rem;
  margin-left: 0;
}

@media only screen and (min-width: 750px) {
  .addresses form > div:nth-of-type(1) {
    margin-right: 0;
  }

  .addresses form > div:nth-of-type(2) {
    margin-top: 0;
  }

  .addresses form > div:nth-of-type(1),
  .addresses form > div:nth-of-type(2) {
    box-sizing: border-box;
    flex-basis: calc(50%);
  }
}

.addresses form > div:nth-of-type(7),
.addresses form > div:nth-of-type(7) + div[id] {
  margin-top: 1.5rem;
}

.multicolumn {
  padding: 1rem 1.5rem;
  max-width: 39rem;
  margin: 0 auto;
  direction: rtl;
}

.multicolumn-list:not(.slider) {
	padding: 0;
}

.multicolumn-list h3, .multicolumn-list p {
	font-size: calc(var(--font-heading-scale) * 1.6rem);
}

.multicolumn-list {
	column-gap: 0;
}

ul.multicolumn-list {
  display: flex;
  padding: 0;
}

.multicolumn-card__info {
  padding: 0;
}

li.multicolumn-list__item.grid__item {
  width: fit-content;
  flex-grow: initial;
}

.multicolumn-card__info {
	padding: 0;
}

.js-border-container {
	height: 3px;
	width: 100%;
	background: var(--gradient-base-background-3);
	position: relative;
}

#js-border-position {
	position: absolute;
	height: 100%;
	background: #000;
	z-index: 1;
	display: block;
	top: 0;
	transition: .3s;
}

.multicolumn-list__item.active * {
	font-weight: var(--font-body-weight-bold);
}

@media screen and (min-width: 990px) {
	.customer .pagination {
		margin-top: 2rem;
		margin-bottom: 2rem;
	}

	.customer .pagination .infinite_next a {
		display: flex;
		border: 1pt solid var(--gradient-base-background-3);
		padding: 2.5rem 4rem;
		border-radius: 4px;
	}

	.account span.loading-overlay {
		display: none;
	}

	.multicolumn {
		max-width: 47rem;
	}

	.multicolumn .page-width {
		padding: 0;
	}

	li.multicolumn-list__item:hover {
		cursor: pointer;
	}
}

/* Custom Styles */

.container-title {
	font-size: var(--font-body-size-large);
	margin-bottom: var(--grid-desktop-horizontal-spacing);
}

.main-account-info-container--loyalty .container-title {
	display: flex;
	align-items: center;
}

.main-account-info-container--loyalty .container-title h4,
.main-account-info-container--loyalty .container-title h6 {
	margin: 0;
}

.main-account-info-container--loyalty .container-title h6 {
	font-weight: var(--font-body-weight-normal);
	font-size: calc(var(--font-body-size-medium) * .9);
	color: rgba(var(--color-foreground),.6);
}

a.container-menu-item, span.container-menu-item {
	font-size: var(--font-body-size-medium);
	border-bottom: 1px var(--gradient-base-background-3) solid;
	display: block;
	position: relative;
	padding: calc(var(--grid-desktop-horizontal-spacing) * 1.4) 0;
}

a.container-menu-item:last-child, span.container-menu-item:last-child, a.container-menu-item-refer {
	border-bottom: none;
}

.container-menu-item .icon-caret {
	position: absolute;
	left: 0;
	top: 55%;
	transform: translateY(-50%) rotate(90deg);
	margin: 0;
}

.container-menu-item .icon-caret.rotate {
	transform: translateY(-50%) rotate(0deg);
}

a.container-menu-item span {
	font-size: var(--font-body-size-medium);
}

p.container-extra-info {
	font-size: var(--font-body-size-small);
	color: var(--rtg-text-color);
	margin-top: var(--grid-desktop-horizontal-spacing);
}

.custom-orders-container {
	position: fixed;
	width: 100%;
	z-index: 10;
	background: #fff;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	overflow-y: auto;
	transition: .3s ease-in-out;
	transform: translateX(100%);
}

.custom-orders-container.active {
	transform: translateX(0);
}

.toggle-orders-button {
	position: sticky;
	top: 0;
	background: var(--gradient-base-background-1);
	z-index: 11;
	padding: 1em;
	width: 100%;
	display: block;
}

.toggle-orders-button-content {
	align-items: center;
	column-gap: var(--grid-desktop-vertical-spacing);
}

.toggle-orders-button .icon {
	transform: rotate(270deg);
}

.main-account-info-container--contact, .container-menu-item--logout {
	text-align: center;
}

.contact-icons-container {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	border-top: 1px var(--gradient-base-background-3) solid;
	border-bottom: 1px var(--gradient-base-background-3) solid;
}

.main-account-info-container--contact {
	margin: 3em 0;
}

.contact-icon-child:first-child {
	border-left: 1px var(--gradient-base-background-3) solid;
}

a.logout-link {
	border: 1px var(--gradient-base-background-4) solid;
	padding: 1em 3em;
}

.contact-icon-child {
	padding: 1em 0;
}

p.contact-text {
	margin: 0;
}

p.business-hours {
	margin: 2rem 0;
}

div.contact-icon-child a svg {
	width: 1.5em !important;
	height: 1.5em !important;
	margin: 0;
}

/* Custom Styles */

/* Addresses */

.address-main-title {
	position: relative;
}

a.address-back-link {
	display: block;
	position: absolute;
	top: 50%;
	transform: translateY(-50%) rotate(90deg);
	padding: 1rem 1rem 0;
}

a.address-back-link svg {
	width: 1em;
	height: 1em;
	display: block;
}

button.add-address-button {
	color: var(--gradient-base-accent-1);
	background: var(--gradient-background);
	border: 1px var(--gradient-base-background-3) solid;
	padding: 0;
	position: relative;
	display: block;
}

button.add-address-button:before, button.add-address-button:after {
	content: none;
	bottom: auto;
	right: auto;
	z-index: 1;
}

button.add-address-button:before, button.add-address-button:after {
	position: absolute;
	content: "";
	display: block;
	visibility: visible;
	background-color: rgb(var(--color-foreground));
	top: 2.8rem;
}

button.add-address-button:before {
	width: 1.2rem;
	height: 0.2rem;
	left: 1rem;
	top: 50%;
}

button.add-address-button.active:after {
	visibility: hidden;
}

button.add-address-button:after {
	height: 1.2rem;
	width: 0.2rem;
	left: 1.5rem;
	transform: translateY(-0.5rem);
	box-shadow: none;
	top: 50%;
}

.addresses li > button {
	width: fit-content;
	color: var(--gradient-base-accent-1);
	background: var(--gradient-background);
	border: 1px var(--gradient-base-background-3) solid;
	padding: 0;
	display: block;
	margin-left: auto;
	margin-right: 0;
}

.addresses li > button:after, .addresses li > button:before {
	content: none;
}

.addresses form {
	direction: rtl;
	text-align: right;
}

.button:not([disabled]):hover::after, .shopify-challenge__button:hover::after, .customer button:hover::after, .shopify-payment-button__button--unbranded:hover::after {
	box-shadow: none;
}

.mobile-only {
	display: block;
}

.desktop-only {
	display: none;
}

td.table-data-images {
	column-gap: 1rem;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
}

.div-for-appending, .div-for-appending img {
	max-width: 100%;
}

.custom-orders-container a:not(.no-decoration) {
	text-decoration: underline;
	display: block;
}

.div-for-appending {
	position: relative;
}

.appended-p {
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 100%;
	color: #fff;
	background: rgba(0,0,0,.4);
	margin: 0;
	top: 0;
	font-weight: 900;
	direction: ltr;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2em;
}

a.order-number-link:not(.no-decoration) {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

a.order-number-link .icon {
	transform: rotate(90deg);
}

.custom-customer-account-container {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99999;
	background: #fff;
	transform: translateX(-100%);
	transition: 0.3s ease-in-out;
}

.custom-customer-account-container.active {
	transform: translateX(0);
	transition: 0.3s ease-in-out;
}

.custom-customer-account-container.active .multicolumn {
	padding-right: 0;
	padding-left: 0;
}

.custom-customer-account-container.active .multicolumn-list {
	column-gap: var(--grid-desktop-vertical-spacing);
	padding-bottom: var(--grid-mobile-vertical-spacing);
}

.oxi_social_wrapper {
	display: none;
}

.close-custom-account-container .icon-close {
	width: 2rem;
	height: 2rem;
}

.close-custom-account-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	direction: rtl;
}

.custom-login-overlay {
	display: none;
}

.customer td, .customer td a {
	font-size: var(--font-body-size-medium);
}

.main-order-header-container {
	position: sticky;
	padding: 2rem;
	max-width: var(--page-width);
	top: 0;
	background: var(--gradient-background);
	z-index: 11;
	border-bottom: 1px solid var(--gradient-base-background-3);
}

.main-order-header-container h1 {
	font-size: var(--font-body-size-large);
	text-align: center;
	margin: 0;
}

.main-order-header-caret {
	position: absolute;
	left: 0;
	transform: translateY(-50%) rotate(90deg);
	top: 50%;
}

div.customer.order {
	max-width: auto;
	padding: 0;
}

.main-order-information {
	background: var(--gradient-base-background-3);
	padding: 1rem 2rem;
}

.main-order-information .flex, td.more-returns-info .flex, .order-summary .flex {
	justify-content: space-between;
}

.main-order-information .flex p {
	margin: 0 0 1.5rem;
}

a.underlined-link {
	text-decoration: underline;
}

.order-line-item-link {
	display: block;
	margin: auto;
}

.order-line-item-link--image {
	width: 100%;
	height: fit-content;
	display: block;
}

.customer.order table tbody tr {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: repeat(6, auto);
	column-gap: calc(var(--grid-desktop-vertical-spacing) * 2);
}

.customer.order tbody td:first-of-type {
	grid-row: 1 / -1;
	padding-top: 1rem;
}

td.more-returns-info {
	display: block;
	grid-column: 1 / -1;
}

.more-returns-info .flex + div {
	margin-top: 1rem;
}

.icon-caret.rotate-arrow {
	transform: rotate(180deg);
}

.customer tfoot td:first-of-type, .customer tfoot td {
	display: block;
}

.customer.order tfoot tr td.order-summary:first-of-type {
	padding-bottom: 1rem;
}

.customer.order tfoot tr:first-of-type td.order-summary-totals {
	padding-top: 1rem;
	border-top: 1px solid var(--gradient-base-background-3);
}

.custom-customer-popup-main-title {
	font-size: var(--font-body-size-large);
	font-weight: var(--font-body-weight-bold);
}

.custom-customer-account-container .multicolumn-list h3 {
	opacity: 0.6;
}

.custom-customer-account-container .multicolumn-list__item.active h3 {
	opacity: 1;
}

@media screen and (min-width: 990px) {

	a.container-menu-item, span.container-menu-item, a.container-menu-item.container-menu-item-refer {
		border: none;
	}

	a.container-menu-item:hover,
	span.container-menu-item:hover,
	a.container-menu-item.container-menu-item-refer:hover {
		text-decoration: underline;
	}

	.orders-title {
		margin-top: 0;
	}

	.container-menu-item .icon-caret {
		display: none;
	}

	.custom-customer-account-container .background-none .multicolumn-list .multicolumn-card__info, .background-none .multicolumn-list:not(.slider) .center .multicolumn-card__info {
		padding: 0;
	}

	.custom-customer-account-container.active .multicolumn {
		padding-right: 1.5rem;
		padding-left: 1.5rem;
	}

	.account-desktop-container {
		display: block;
	}

	.customer:not(.account):not(.order) {

	}

	.custom-login-overlay {
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 99998;
		background: rgba(var(--color-foreground), 0.6);
	}

	div.custom-customer-account-container {
		width: 43rem;
		left: 50%;
		top: 50%;
		bottom: auto;
		border-radius: 7px;
		max-width: 43rem;
		min-height: 90vh;
		transform: translate(0);
		display: none;
	}

	.custom-customer-account-container.active {
		transform: translate(-50%, -50%);
		display: block;
	}

	.close-custom-account-container {
		padding-right: 1.5rem;
		padding-left: 1.5rem;
	}

	.account-desktop-container > .custom-orders-container {
		position: static;
		transform: translateX(0);
		z-index: 2;
		overflow-y: hidden;
	}

	.toggle-orders-button, .main-account-info-container--contact, .container-menu-item--logout {
		display: none;
	}

	.container-title {
		margin-top: 0;
	}

	.customer table {
		box-shadow: none;
	}

	.order-details-container {
		margin-right: calc(var(--grid-desktop-vertical-spacing) * 3);
	}

	tfoot tr:nth-child(3) td:last-child, tfoot tr:nth-child(4) td:last-child {
		text-align: center;
	}

	.customer .icon-plus, .customer .icon-minus {
		width: 1.5rem;
		height: 1.5rem;
		margin-right: auto;
	}

	.main-account--desktop-order-container {
		margin: calc(var(--grid-desktop-vertical-spacing) * 2) 0;
		border: 1px solid var(--gradient-base-background-4);
		border-radius: 0.4rem;
		padding: 1rem 2rem;
	}

	.main-account--desktop-order-container p {
		margin-bottom: var(--grid-desktop-vertical-spacing);
	}

	.main-account--desktop-order-container p:last-child {
		margin: 0;
	}

	.main-account--desktop-order-container .plus-and-minus {
		text-align: left;
	}

	.plus-and-minus .icon-minus {
		display: none;
	}

	.desktop-order-container-headers {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		align-items: center;
	}

	.customer tbody tr.desktop-order-data-row {
		display: grid;
		grid-template-columns: 10rem repeat(4,1fr);
		border: 1px solid var(--gradient-base-background-4);
		margin: calc(var(--grid-desktop-vertical-spacing) * 2) 0;
		border-radius: 4px;
	}

	.customer tbody tr.desktop-order-data-row.has-padding {
		padding: 0 1rem;
	}

	.desktop-order-data table {
		width: 100%;
	}

	.customer ul.desktop-order-discounts {
		padding: 0;
	}

	.customer .desktop-order-data tfoot:before {
		content: none;
	}

	.desktop-order-data tbody td.fulfillment-table-data {
		grid-column: 1 / -1;
		background: var(--gradient-base-background-3);
		padding-right: 1rem;
		padding-left: 1rem;
	}

	.desktop-order-data tbody td.fulfillment-table-data + td {
		padding-right: 1rem;
	}

	.custom-orders-container::-webkit-scrollbar, .custom-orders-container *::-webkit-scrollbar {
		display: none;
	}

	.customer .desktop-order-data table tfoot td.shipping-data {
		display: grid;
		grid-template-columns: 3rem 1fr;
		border-bottom: 1px solid var(--gradient-base-background-3);
	}

	.customer-name-and-address {
		display: grid;
		grid-template-columns: repeat(3, 150px);
		grid-column-gap: 0;
	}

	.desktop-order-data .order-details tfoot td:not(:first-child) {
		width: 40%;
		margin-right: auto;
		padding: 1rem 0 1rem 1rem;
	}

	.fulfillment-table-data .fulfillment {
		display: flex;
		justify-content: space-between;
	}

	.fulfillment-table-data .fulfillment a {
		display: inline;
	}

	.desktop-order-data .order-summary-totals {
		border-top: 1px solid var(--gradient-base-accent-1);
	}

	.desktop-order-data tfoot .order-summary p {
		margin-bottom: 0;
	}
}

/* End Addresses */