
.loyalty .page-width, .page .collapsible-content-wrapper-narrow {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0;
	padding-right: 0;
}

.yotpo-widget-hero-section .yotpo-text-on-background {
	min-height: auto;
}

.yotpo-widget-hero-section .yotpo-text-on-background.yotpo-is-mobile .yotpo-text-and-buttons {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 90%;
	max-width: 90%;
}

.yotpo-widget-hero-section .yotpo-customer-logged-out-buttons .yotpo-action-button-text {
	font-size: var(--font-body-size-medium);
}

.yotpo-widget-hero-section .yotpo-text-on-background.yotpo-is-mobile .yotpo-customer-logged-out-buttons .yotpo-action-button-widget .yotpo-button-standard-size {
	border-radius: var(--inputs-radius);
}

.yotpo-customer-logged-out-buttons {
	display: flex;
	direction: rtl;
	gap: 1.5rem;
}

.yotpo-widget-campaign-widget .yotpo-widget-campaign-widget-container {
	background: var(--gradient-base-background-3);
}

.yotpo-widget-campaign-widget .yotpo-is-mobile .yotpo-container-headline {
	text-align: right;
	padding-right: 1.5rem;
	padding-left: 1.5rem;
}

.flexified-wrapper.flexified-mobile {
	display: grid;
	flex-wrap: nowrap;
	overflow-x: scroll;
	direction: rtl;
	grid-template-columns: repeat(9, 1fr);
	justify-content: flex-start;
	padding: 0;
	margin: auto;
	width: 90%;
	height: 200px;
}

.flexified-wrapper.flexified-mobile .flexified-child,
.flexified-wrapper.flexified-mobile.flexified-items-odd.flexified-wide-last-item .flexified-child:last-child {
	width: 150px;
	margin: 0 0 0 calc(var(--grid-desktop-vertical-spacing) * 2);
	border: 1px solid var(--gradient-base-accent-3);
}

.flexified-wrapper.flexified-mobile.flexified-items-odd.flexified-wide-last-item .flexified-child:last-child {
	margin: 0;
}

.flexified-wrapper.flexified-mobile .flexified-child:nth-child(2n) {
	margin: 0 0 0 calc(var(--grid-desktop-vertical-spacing) * 2);
}

.yotpo-widget-campaign-widget .yotpo-tile, .yotpo-widget-campaign-widget .yotpo-tile-wrapper {
	position: relative;
	direction: rtl;
}

.yotpo-widget-campaign-widget .yotpo-campaign-switcher-wrapper {
	border: 1px solid var(--gradient-base-accent-3);
}

.yotpo-reward-steps-list, .yotpo-info {
	direction: rtl;
}

.yotpo-widget-my-rewards-widget .yotpo-reward-steps-list {
	flex-direction: row;
	flex-wrap: nowrap;
}

.yotpo-widget-my-rewards-widget .yotpo-reward-steps-icon {
	margin: 0 auto;
}

.yotpo-widget-my-rewards-widget .yotpo-reward-steps-item {
	min-width: auto;
}

.yotpo-widget-my-rewards-widget .yotpo-is-mobile .yotpo-reward-steps-item {
	padding: var(--grid-desktop-vertical-spacing);
}

.yotpo-widget-my-rewards-widget .yotpo-reward-steps-title {
	margin-top: 5px;
	font-weight: var(--font-body-weight-bold);
}

.yotpo-widget-campaign-widget .yotpo-is-mobile .yotpo-widget-campaign-widget-icon-container {
	margin-bottom: 0;
	position: absolute;
	top: 1em;
}

.yotpo-widget-referral-widget .yotpo-left-align-background .yotpo-email-view,
.yotpo-logged-out-center-element {
	direction: rtl;
}

.yotpo-widget-referral-widget .yotpo-input-container .yotpo-input {
	text-align: right;
}

.yotpo-widget-referral-widget .yotpo-action-button-widget.yotpo-customer-share-button, .yotpo-widget-referral-widget .yotpo-action-button-widget.yotpo-friends-share-button {
	margin-top: 3rem;
}

.yotpo-widget-referral-widget .yotpo-tile {
	min-height: auto;
}

.yotpo-widget-referral-widget .yotpo-header-text {
	padding-bottom: 3rem;
}

.yotpo-input-example {
	display: none;
}

@media screen and (min-width: 990px) {
	.yotpo-widget-hero-section .yotpo-text-on-background {
		min-height: 430px;
		position: relative;
	}

	.yotpo-widget-hero-section .yotpo-text-on-background .yotpo-text-container {
		top: 250px;
	}

	.yotpo-widget-hero-section .yotpo-customer-logged-out-buttons .yotpo-action-button-widget .yotpo-button-standard-size {
		border-radius: var(--inputs-radius);
	}

	.yotpo-sign-in-button {
		padding-left: 0;
		padding-right: 5px;
	}

	.flexified-wrapper:not(.flexified-mobile).flexified-items-odd .flexified-child {
		width: calc(25% - var(--flexified-padding)*0.66);
	}

	.yotpo-widget-campaign-widget-icon-container {
		position: absolute;
		top: 1em;
		right: 1em;
		margin: 0;
	}

	.yotpo-screen-customer_email, .yotpo-screen-friends_emails {
		padding: 0 30rem;
	}

	.yotpo-widget-campaign-widget .yotpo-completed-tile {
		position: absolute;
		top: 0;
	}
}