
.slider {
	overflow-y: hidden;
}

.collection_slider_image {
	width: 100%;
	min-height: 9rem;
	object-fit: cover;
}

.grid.product-grid.grid--3-col-tablet-down {
	margin-bottom: 0;
	gap: 0;
}

.grid.product-grid.grid--3-col-tablet-down li {
	width: calc(33% - var(--grid-mobile-horizontal-spacing) - 3rem);
	min-width: 27%;
}

.grid.product-grid.grid--4-col-tablet-down li {
	width: calc(25% - var(--grid-mobile-horizontal-spacing) - 3rem);
}

.featured-collections-link {
	text-decoration: none;
}

ul.slider--tablet:after {
	padding-left: 0;
}

.featured-collections-col-title {
	font-size: calc(var(--font-body-size-medium) * 0.9);
	text-align: right;
}

/* New here page designs */

.collection__description.rte {
	margin-bottom: calc(var(--grid-desktop-vertical-spacing) * 2);
}

.slider.slider--tablet.contains-card--standard .slider__slide.loyalty__slide:not(.collection-list__item--no-media) {
	position: relative;
	padding: 0;
}

.loyalty-collection__outlet .collection__title_heading {
	display: block;
	text-align: center;
}

.loyalty-collection__outlet .collection__title_heading .title,
.loyalty-collection__outlet .collection__title_heading .title:not(:only-child) {
	margin: 0 0 2rem;
}

.loyalty-collection__outlet .sub_title {
	margin: 0;
}

@media screen and (min-width: 990px) {

	.slider.slider--tablet.contains-card--standard:not(.slider--desktop) {
		justify-content: space-between;
	}

	ul.grid.product-grid.contains-card.contains-card--product.contains-card--standard.grid--3-col-desktop {
		column-gap: 5rem;
	}

	.slider.slider--tablet.contains-card--standard:not(.slider--desktop) li.grid__item.slider__slide:not(.collection-list__item--no-media) {
		min-width: 24%;
		margin-right: 0;
	}

	.slider.slider--tablet.grid--5-col-desktop.contains-card--standard:not(.slider--desktop) li.grid__item.slider__slide:not(.collection-list__item--no-media) {
		min-width: 16%;
	}

	.slider.slider--tablet.contains-card--standard:not(.slider--desktop).grid--3-col-desktop li.grid__item.slider__slide:not(.collection-list__item--no-media) {
		min-width: 30%;
		width: 30%;
	}
}

