.redeem-points-container {
	background: var(--gradient-base-background-3);
	text-align: center;
}

.redeem--titles h2 {
	font-size: calc(var(--font-body-size-large) * 1.2);
	margin-top: 0;
}

.redeem--titles h6 {
	width: fit-content;
	margin: 0 auto;
	padding: var(--grid-mobile-horizontal-spacing) var(--grid-desktop-horizontal-spacing);
	border: 1px solid var(--gradient-base-background-4);
	border-radius: var(--inputs-radius);
}

.redeem--info-child {
	display: flex;
	justify-content: center;
	align-items: center;
}

.redeem--info-child .icon {
	margin-left: 10px;
}

.redeem--info-child p:nth-child(3) {
	margin: 0 5px;
}

@media screen and (min-width: 990px) {
	.redeem--info {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		margin-top: 3rem;
		padding: 0 25vw;
	}

	.redeem--info-child .icon {
		margin-left: 0;
	}

	.redeem--info-child {
		flex-direction: column;
	}

	.redeem--info-child p {
		font-size: var(--font-body-size-large);
	}
}