.blog-articles {
  display: grid;
  grid-gap: 1rem;
  column-gap: var(--grid-mobile-horizontal-spacing);
	row-gap: calc(var(--grid-desktop-vertical-spacing) * 2);
}

.blog-articles .card-wrapper {
  width: 100%;
}

@media screen and (min-width: 750px) {
  .blog-articles {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: var(--grid-desktop-horizontal-spacing);
    row-gap: var(--grid-desktop-vertical-spacing);
  }

  .blog-articles--collage > *:nth-child(3n + 1),
  .blog-articles--collage > *:nth-child(3n + 2):last-child {
    grid-column: span 2;
    text-align: center;
  }

  .blog-articles--collage > *:nth-child(3n + 1) .card,
  .blog-articles--collage > *:nth-child(3n + 2):last-child .card {
    text-align: center;
  }

  .blog-articles--collage > *:nth-child(3n + 1) .article-card__image--small .ratio::before,
  .blog-articles--collage > *:nth-child(3n + 2):last-child .article-card__image--small .ratio::before {
    padding-bottom: 22rem;
  }

  .blog-articles--collage > *:nth-child(3n + 1) .article-card__image--medium .ratio::before,
  .blog-articles--collage > *:nth-child(3n + 2):last-child .article-card__image--medium .ratio::before {
    padding-bottom: 44rem;
  }

  .blog-articles--collage > *:nth-child(3n + 1) .article-card__image--large .ratio::before,
  .blog-articles--collage > *:nth-child(3n + 2):last-child .article-card__image--large .ratio::before {
    padding-bottom: 66rem;
  }
}

.blog-title-container {
	display: grid;
	grid-template-columns: 1fr auto;
	align-items: center;
	gap: 1em;
	padding: 1.5em 0;
}

.title--primary {
	margin: 0 0 1rem;
	font-weight: var(--font-body-weight-bold);
}

.blog-black-line {
	background: black;
	padding: 2px 0;
}

@media screen and (min-width: 990px) {
  .blog-articles--collage > *:nth-child(3n + 1) .article-card__image--small .ratio .ratio::before,
  .blog-articles--collage > *:nth-child(3n + 2):last-child .article-card__image--small .ratio .ratio::before {
    padding-bottom: 27.5rem;
  }

  .blog-articles--collage > *:nth-child(3n + 1) .article-card__image--medium .ratio::before,
  .blog-articles--collage > *:nth-child(3n + 2):last-child .article-card__image--medium .ratio::before {
    padding-bottom: 55rem;
  }

  .blog-articles--collage > *:nth-child(3n + 1) .article-card__image--large .ratio::before,
  .blog-articles--collage > *:nth-child(3n + 2):last-child .article-card__image--large .ratio::before {
    padding-bottom: 82.5rem;
  }

	.title--primary {
		font-size: 6em;
	}

	.blog-container-for-desktop {
		display: grid;
		grid-template-columns: 2fr 1fr;
	grid-gap: var(--grid-desktop-vertical-spacing);
	}

	.most-viewed-posts .blog-title-container {
		direction: ltr;
		padding: 0;
	}

	.most-viewed-posts {
		border: 1px var(--gradient-base-background-4) solid;
		padding: var(--font-body-size-medium);
	}

	.blog-title-container h2 {
		font-size: var(--font-body-size-large);
		font-weight: var(--font-body-weight-bold);
	}

	.featured-post-link {
		color: var(--color-base-text);
		text-decoration: none;
		column-gap: 1em;
		margin: 1em 0;
	}

	.most-view-article-excerpt {
		margin: 0;
	}

	.article-round {
		color: #fff;
		background: #000;
		border-radius: 50%;
		display: flex;
		align-items: center;
		font-size: 30px;
		height: 45px;
		justify-content: center;
		width: 50px;
	}

	.blog-featured-ad-image {
		width: 100%;
		display: block;
		max-width: 500px;
	}

	.blog-extras.desktop-only {
		display: flex !important;
		row-gap: calc(var(--grid-desktop-vertical-spacing) * 2);
		flex-direction: column;
	}
}
