.article-template > *:first-child:not(.article-template__hero-container) {
  margin-top: 5rem;
}

@media screen and (min-width: 750px) {
  .article-template > *:first-child:not(.article-template__hero-container) {
    margin-top: 0;
  }
}

.article-template__hero-container {
  max-width: 130rem;
  margin: 0 auto;
}

.article-template__hero-small {
  height: 11rem;
}

.article-template__hero-medium {
  height: 22rem;
}

.article-template__hero-large {
  height: 33rem;
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .article-template__hero-small {
    height: 22rem;
  }

  .article-template__hero-medium {
    height: 44rem;
  }

  .article-template__hero-large {
    height: 66rem;
  }
}

@media screen and (min-width: 990px) {
  .article-template__hero-small {
    height: 27.5rem;
  }

  .article-template__hero-medium {
    height: 55rem;
  }

  .article-template__hero-large {
    height: 82.5rem;
  }
}

.article-template header {
  margin-top: 4.4rem;
  line-height: calc(0.8 / var(--font-body-scale));
}

@media screen and (min-width: 750px) {
  .article-template header {
    margin-top: 5rem;
  }
}

.article-template__title {
  margin: 0;
	font-weight: var(--font-body-weight-bold);
}

.article-template__title:not(:only-child) {
  margin-bottom: 1rem;
}

.article-template__link {
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.article-template__link .icon-wrap {
  display: flex;
  margin-right: 1rem;
  transform: rotate(180deg);
}

.article-template__content {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.article-template__social-sharing {
  margin-top: 3rem;
}

.article-template__social-sharing + header,
.article-template__social-sharing + .article-template__content {
  margin-top: 1.5rem;
}

.article-template__comment-wrapper {
  margin-top: 5rem;
  padding: 2.7rem 0;
}

@media screen and (min-width: 750px) {
  .article-template__comment-wrapper {
    margin-top: 6rem;
    padding: 3.6rem 0;
  }
}

.article-template__comment-wrapper h2 {
  margin-top: 0;
}

.article-template__comments {
  margin-bottom: 5rem;
}

@media screen and (min-width: 750px) {
  .article-template__comments {
    margin-bottom: 7rem;
  }
}

.article-template__comments-fields {
  margin-bottom: 4rem;
}

.article-template__comments-comment {
  color: rgba(var(--color-foreground), 0.75);
  background-color: rgb(var(--color-background));
  margin-bottom: 1.5rem;
  padding: 2rem 2rem 1.5rem;
}

@media screen and (min-width: 750px) {
  .article-template__comments-comment {
    padding: 2rem 2.5rem;
  }
}

.article-template__comments-comment p {
  margin: 0 0 1rem;
}

.article-template__comment-fields > * {
  margin-bottom: 3rem;
}

@media screen and (min-width: 750px) {
  .article-template__comment-fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 4rem;
  }
}

.article-template__comment-warning {
  margin: 2rem 0 2.5rem;
}

.blog-title-container {
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	gap: 1em;
	padding: 1.5em 0;
}

.title--primary {
	margin: 0 0 1rem;
	font-weight: var(--font-body-weight-bold);
}

.blog-black-line {
	background: black;
	padding: 2px 0;
}

article .footer__list-social.list-social {
	justify-content: flex-start;
}

@media screen and (min-width: 990px) {
  .article-template__comments .pagination-wrapper {
    margin: 5rem 0 8rem;
  }

	li.list-social__item:not(:first-child) {
		margin-right: 1rem;
	}

	.title--primary {
		font-size: calc(var(--font-body-size-large) * 3.5);
	}

	article .footer__list-social.list-social {
		margin-top: calc(var(--grid-desktop-horizontal-spacing) * 3);
	}

	.blog-container-for-desktop {
		display: grid;
		grid-template-columns: 2fr 1fr;
		grid-gap: calc(var(--grid-desktop-vertical-spacing) * 4);
		padding-top: calc(var(--grid-desktop-horizontal-spacing) * 5);
	}

	.most-viewed-posts .blog-title-container {
		direction: ltr;
		padding: 0;
		grid-template-columns: 1fr auto;
	}

	.most-viewed-posts {
		border: 1px var(--gradient-base-background-4) solid;
		padding: var(--font-body-size-medium);
	}

	.blog-title-container h2 {
		font-size: var(--font-body-size-large);
		font-weight: var(--font-body-weight-bold);
	}

	.featured-post-link {
		color: var(--color-base-text);
		text-decoration: none;
		column-gap: 1em;
		margin: 1em 0;
	}

	.most-view-article-excerpt, .blog__article--created-at, .art-paragraph {
		margin: 0;
	}

	.article-round {
		color: #fff;
		background: #000;
		border-radius: 50%;
		display: flex;
		align-items: center;
		font-size: 30px;
		height: 45px;
		justify-content: center;
		width: 50px;
	}

	.blog-featured-ad-image {
		width: 100%;
		display: block;
		max-width: 500px;
	}

	.blog-extras.desktop-only {
		display: flex !important;
		row-gap: calc(var(--grid-desktop-vertical-spacing) * 2);
		flex-direction: column;
	}

	.blog-title-container {
		padding-top: 0;
	}

	.article-blog-img {
		max-width: 500px;
		object-fit: cover;
		width: 100%;
		height: 246px;
	}

	.blog__article-date-ctn {
		align-items: center;
	}

	.blog__article--excerpt-ctn {
		color: rgb(var(--color-base-text));
		padding: 1em;
	}

	.extra-articles {
		font-size: 2em;
		font-weight: var(--font-body-weight-bold);
		text-align: center;
	}

	.extra-article-card {
		display: block;
		margin: calc(var(--grid-desktop-vertical-spacing) * 2) 0;
		border: 1px var(--gradient-base-background-4) solid;
		text-decoration: none;
	}

	.blog__article-date-ctn {
		column-gap: var(--grid-desktop-horizontal-spacing);
	}

}

.article-template__back:last-child {
  margin-bottom: 3.2rem;
}
