.page-title {
  margin-top: 0;
}

.main-page-title {
  margin-bottom: 3rem;
}

div.about-us {
	padding: 0;
}

.covid__notice {
	padding: 8.6rem 2rem 6.5rem;
	margin: 0 auto;
	text-align: center;
	color: #fff;
	position: relative;
	z-index: 2;
	background: url(/cdn/shop/files/File_001_3ad8066e-31ca-4319-9b64-2f2b7b2cdf19.jpg?v=1617193851) center center / cover no-repeat;
}

.covid__notice:before {
	content: "";
	display: block;
	background-color: #000;
	position: absolute;
	inset: 0px;
	z-index: -1;
}

.help__blogs__ul {
	direction: rtl;
	padding: 0 1.1em;
	list-style: none;
}

.covid__notice--article {
	text-align: right;
	background: rgba(0,0,0,.7);
	padding: 0.6em 0.9em;
	font-size: 1.1em;
	border: 3px #ad9d9d solid;
	border-radius: 4px;
	direction: rtl;
}

.covid__notice--title {
	margin: 10px auto;
	line-height: 1em;
	font-size: 2em;
	color: var(--gradient-background);
	text-align: center;
}

.help__blogs__li {
	margin: 1.6rem 0px;
}

.help__relative-for-absolute {
	transition: all .6s ease 0s;
	position: relative;
}

.help__absolute-for-hover {
	background: white;
	border-radius: 0.3rem;
	box-shadow: #00000026 0 0.2rem 1.3rem;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

.help__mobile-link-to-subj {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	text-decoration: none;
	padding: 2rem 2.4rem;
	justify-content: space-between;
	flex-direction: row-reverse;
}

.help__flex--icons {
	display: flex;
}

.help__subject--title {
	margin: 0;
}

@media screen and (min-width: 990px) {
  .main-page-title {
    margin-bottom: 4rem;
  }

	.loyalty-form.loyalty-form-register div.customer:not(.account):not(.order) {
		height: auto;
	}
}

.page-placeholder-wrapper {
  display: flex;
  justify-content: center;
}

.page-placeholder {
  width: 52.5rem;
  height: 52.5rem;
}

/* Yotpo alist page */

.yotpo-loyalty-popup-overlay {
	top: 114px !important;
}

.yotpo-description, .yotpo-inner-text, .yotpo-header-text {
	font-family: 'Arimo', sans-serif !important;
}

.yotpo-overlay-tile.yotpo-is-mobile {
	height: 100% !important;
	width: 100% !important;
	background: rgba(0, 0, 0, 0.8) !important;
	top: 0 !important;
	left: 0 !important;
	position: absolute !important;
}

.new-dynamics {
	margin: 0 0 1em;
	text-align: center;
	font-size: 1.2em;
}

.a-list__faq-ctn {
	margin: 1em auto;
	width: 90%;
	background: #fff;
	direction: rtl;
	position: relative;
}

.t-and-c-link, .accept-marketing-notice {
	font-size: .8em !important;
}

.a-list__q-and-a-single-ctn {
	border-bottom: 1px var(--gradient-base-background-3) solid;
	padding: .4em;
}

.a-list__q-and-a-single-ctn:not(:first-child) {
	border-top: none;
}

.a-list__q-and-a-single-ctn:last-child {
	border-bottom: none;
}

.a-list__faq-title {
	font-size: 2em;
}

.a-list__question-and-icon {
	align-items: center;
}

.a-list__question {
	pointer-events: none;
}

.plus {
	width: 10px !important;
	height: 10px !important;
	transition: .2s;
	pointer-events: none;
}

.plus.Rotated {
	transform: rotate(45deg);
	transition: .2s;
}

.a-list__answer-para {
	font-size: .85em;
	color: #605e5c;
}

.a-list__answer-para a {
	display: inline;
	text-decoration: underline;
	color: darkblue;
}

.our-vip-tiers {
	direction: rtl;
	padding: 3em 2em;
}

.vip-tiers-pumpup-title {
	margin: 0 0 1rem;
	font-weight: 600;
	font-size: var(--font-body-size-large);
}

.vip-benefits-table {
	border: 1px var(--gradient-base-background-3) solid;
	width: 100%;
	margin: 1em 0 0;
}

.vip-benefits-list-th {
	background: var(--gradient-base-background-3);
	padding: 1em;
	color: #000;
}

.on-each-order {
	border-bottom: 2px var(--gradient-base-background-3) solid;
}

.legendary {
	position: relative;
}

.legendary::before {
	position: absolute;
	content: '';
	display: block;
	background: var(--gradient-base-background-3);
}

.vip-benefits-list-th.active {
	background: #000;
	color: #fff;
}

@media screen and (max-width: 990px) {
	.vip-benefits-list-th.active .vip-benefits-th-text {
		color: #fff;
	}
}

.vip-benefits-th-text {
	font-size: 1.5em;
	margin: 0 0 10px;
	font-weight: 700;
}

.vip-benefits-list-td {
	align-items: center;
	gap: 10%;
	line-height: 24px;
	padding: 20px 16px 20px 0;
	height: 58px;
	position: relative;
}

.vip-benefits-list-td::before {
	position: absolute;
	content: "";
	width: 1px;
	height: 100%;
	background: #dedeea;
	right: 60%;
}

.vip-benefit-explain {
	width: 56%;
}

.vip-benefit-get {
	width: 40%;
	display: flex;
	margin: 0;
}

.vip-benefits-list li:not(:first-child):nth-child(odd) {
	background: #f8f8fa;
}

.from-to {
	direction: ltr;
}

.vip-benefit-get svg {
	width: 20px !important;
	height: 20px !important;
}

.alist-vip-benefit-not-get path {
	fill: var(--gradient-base-background-4);
}

.alist-vip-benefit-get path {
	fill: var(--gradient-base-accent-1);
}

.vip-tiers-pumpup {
	font-weight: 600;
	font-size: .9em;
	margin: 1px 0;
}

.yotpo-logged-out-refer-block {
	direction: rtl;
	display: flex;
	flex-direction: column;
}

.yotpo-logged-out-text {
	padding: 3em;
	background: var(--gradient-base-background-3);
	display: flex;
	flex-direction: column;
	justify-content: center;
	row-gap: 14px;
}

.refer-title {
	width: fit-content;
	font-size: 2em;
	margin: 0;
	border-top: 2px #000 solid;
	border-bottom: 2px #000 solid;
	padding: 0.2em 0;
	line-height: 1;
}

.i-wanna-join {
	height: 48px;
	background: #000;
	color: #fff;
	align-items: center;
	justify-content: center;
	width: fit-content;
	padding: 0 1em;
	margin: 0;
}

.referral__join-or-login {
	width: fit-content;
}

.already-has-account-uno {
	margin: 10px 0;
}

.i-wanna-join:hover, .already-has-account-uno:hover {
	cursor: pointer;
}

.oxi_social_wrapper {
	display: none;
}

.image-and-earning-container {
	direction: rtl;
	width: 100%;
	padding: 10% 3%;
	background: #f9f9f9;
	height: 100vh;
}

.section-confirm-subscription .inputs-group .legal-text {
	text-align: right;
	display: none;
}

.mailbox.mb-7 {
	width: auto;
}

.section-confirm-subscription {
	padding: 1em;
	direction: rtl;
	margin: auto;
	max-width: 500px;
}

.select-country-wrapper {
	direction: ltr;
	width: 100%;
}

.for-desktop-background {
	padding: 1em 1.5em;
}

.birthday-input, .birthday {
	margin: .6em 0;
	width: 100%;
	padding: .5em;
	background: #fff;
}

.vip-benefits-list {
	padding: 0;
	margin: 0;
	list-style: none;
}

.inputRegister {
	margin: 2rem 0;
}

.customer.login {
	display: block !important;
}

.form-toggler {
	font-size: var(--font-body-size-large);
	font-weight: var(--font-body-weight-bold);
	text-decoration: underline;
}

.contact-title--primary.title--primary {
	margin: 0;
}

.our-promise-content {
	direction: rtl;
	padding: 4rem 2rem 1rem;
}

.vip-tier-data-toggle {
	padding: 1rem;
	background: var(--gradient-base-background-3);
	text-decoration: underline;
}

.vip-tier-big-title {
	margin-top: 0;
	margin-bottom: 1rem;
	font-size: calc(var(--font-body-size-large) * 1.5);
}

.vip-tier-data {
	display: none;
	text-align: center;
	background: var(--gradient-base-background-3);
	padding-bottom: 1rem;
}

.vip-tier-data ul {
	padding: 0;
	text-align: right;
	width: 69%;
	margin-right: 30%;
}

@media screen and (min-width: 990px) {

	.vip-tier-data {
		display: block;
	}

	.covid__notice {
		padding: 8.6rem 50rem 6.5rem;
	}

	.help__absolute-for-hover {
		padding: 1.5rem;
	}

	.help__absolute-for-hover a, .help__absolute-for-hover p {
		justify-content: center;
		color: var(--gradient-base-accent-1);
	}

	.list-social__item .icon {
		height: 1.8rem !important;
		width: 1.8rem !important;
	}

	.our-promise-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: calc(var(--grid-desktop-vertical-spacing) * 2);
		direction: ltr;
	}

	.our-promise-content {
		padding: 4rem;
	}

	.our-promise-content p {
		margin: 0;
	}

	.section-main-register-padding {
		padding-top: 0 !important;
		padding-bottom: 0 !important;
	}

	.lottery-content-padding {
		padding: 1em 35em;
	}

	.yotpo-logged-out-refer-block {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	#subscriber-country-select, #subscriber-phone-input {
		margin: 0 !important;
		width: 100% !important;
	}

	.select-country-wrapper {
		column-gap: 1em;
		width: 100%;
		margin-left: 0 !important;
		margin-right: 0 !important;
	}


	.vip-tiers-pumpup {
		font-size: 1em;
	}

	.vip-benefit-explain {
		width: auto;
	}

	.our-vip-tiers {
		padding-top: 4em;
		padding-bottom: 4em;
		display: flex;
	}

	.vip-benefits-list-th, .vip-benefits-list-th.active {
		background: #fff;
		text-align: center;
		color: #000;
	}

	.vip-benefits-list li:not(:first-child):nth-child(odd) {
		background: #fff;
	}

	.vip-benefits-table {
		display: flex;
		border: none;
	}

	.vip-benefits-list-td {
		width: 100%;
		border-top: 3px var(--gradient-base-background-3) solid;
	}

	.vip-benefits-list-td:before {
		display: none;
	}

	.vip-benefits-row:not(:first-child) .vip-benefit-explain {
		display: none;
	}

	.vip-benefits-row-1 .vip-benefits-list-th {
		opacity: 0;
	}

	.vip-benefits-row {
		width: 100%;
	}

	.vip-benefits-row:not(:first-child) .vip-benefits-list-td {
		align-items: center;
		justify-content: center;
	}

	.vip-benefits-row:not(:first-child) .vip-benefit-get {
		width: auto;
	}

	.for-desktop-background {
		padding: 0;
	}

	.image-and-earning-container {
		padding: 4% 15%;
		grid-template-columns: 1fr 2fr;
		height: fit-content;
		display: grid;
	}

	.main-register {
		display: grid;
		grid-template-columns: 1fr 1.4fr;
		column-gap: 5em;
		margin: 5em auto;
		width: 81%;
	}

	.site__logo-with-word {
		margin: 1em auto 3em;
		width: 160px;
	}

	.flexified-wrapper.flexified-items-even.flexified-item-count-8:not(.yotpo-is-mobile) {
		grid-template-columns: repeat(4, 1fr);
	}

	.new-dynamic-button {
		font-size: .85em!important;
		transform: translate(-50%, 0)!important;
		top: 80% !important;
	}

	.a-list__faq-ctn {
		width: 70%;
		margin: 7em auto 2em;
	}

	.a-list__question-and-icon:hover {
		cursor: pointer;
	}

	.image-near-earning {
		max-width: 100%;
		display: block;
	}

	.loyalty-form-container {
		display: grid;
		grid-template-columns: 1fr 1.4fr;
		column-gap: 5em;
		margin: 5em auto;
		width: 81%;
	}

	.help__blogs__ul {
		display: grid;
		width: 100%;
		grid-template-columns: 1fr 1fr;
		column-gap: calc(var(--grid-desktop-horizontal-spacing) * 3);
		padding: 0 10rem;
	}

	.help__mobile-link-to-subj {
		flex-direction: column;
		padding: 0;
		row-gap: calc(var(--grid-desktop-horizontal-spacing) * 2);
	}
}

img {
	max-width: 100%;
}