 #index .collection-list {
  margin-top: 0;
  margin-bottom: 0;
	 width: 100%;
}

 #index .collection-list-title {
  margin: 0;
	font-size: calc(var(--font-body-size-large) * 1.5);
}

@media screen and (max-width: 749px) {
	#index .collection-list:not(.slider) {
    padding-left: 0;
    padding-right: 0;
  }

	#index .section-collection-list .page-width {

  }

	#index .section-collection-list .collection-list:not(.slider) {
    padding-left: 0;
    padding-right: 0;
	  padding-bottom: 1rem;
  }

	#index .section-collection-list .collection-list:not(.slider)::-webkit-scrollbar {
		display: none;
	}

	#index .collection-list-wrapper {
		padding-right: 0;
	}

	#index .section-collection-list .grid--2-col-tablet-down .grid__item:last-child {
		/*padding-right: 1.5rem;*/
	}
}
 #index .section-collection-list .collection-list:not(.slider) {
	gap: calc(var(--grid-desktop-horizontal-spacing) * 2) var(--grid-desktop-horizontal-spacing);
	overflow-x: auto;
	flex-wrap: nowrap;
}

 #index .section-collection-list .grid--2-col-tablet-down .grid__item {
	/*width: 91%;*/
	/*max-width: inherit;*/
}

 #index .collection-list__item:only-child {
  max-width: 100%;
  width: 100%;
}

 #index .scroll-track {
	 width: calc(100% - 1.5rem);
	 height: 2px;
	 background-color: var(--gradient-base-background-4);
	 margin-left: 0;
	 position: relative;
 }

 #index .scroll-track .scroll-thumb {
	 height: 2px;
	 background-color: var(--gradient-base-accent-1);
	 will-change: transform;
	 transition: transform .3s ease;
	 position: absolute;
 }

@media screen and (max-width: 749px) {
	.out-collection-list-new-wrapper {
		padding-right: 0;
		padding-left: 0;
	}

	.grid.collection-list-new {
		flex-direction: column;
		flex-wrap: nowrap;
		row-gap: calc(var(--grid-desktop-horizontal-spacing) * 2);
	}

	.grid.collection-list-new .grid__item {
		width: 100%;
		max-width: 100%;
	}

	.our-collections-list-image__img--desktop--new {
		display: none;
	}

	#index .slider.collection-list--1-items {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 750px) and (max-width: 989px) {
	#index .slider.collection-list--1-items,
	#index .slider.collection-list--2-items,
	#index .slider.collection-list--3-items,
	#index .slider.collection-list--4-items {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 750px) {

	.our-collections-list-image__img--new {
		display: none;
	}

	#index .collection-list__item a:hover {
    box-shadow: none;
  }

	#index .section-collection-list .grid--2-col-tablet-down .grid__item {
		/*width: 100%;*/
		/*max-width: fit-content;*/
	}
}

@media screen and (max-width: 989px) {
	#index .collection-list.slider .collection-list__item {
    max-width: 100%;
  }
}

 #index .collection-list-wrapper {

}

 #index .collection-list-view-all {
  margin-top: 2rem;
}

 #index .our-collections-list-image__img {
  width: 100%;
  height: fit-content;
  object-fit: cover;
	border-radius: var(--inputs-radius);
}

 #index .our-collections-list-link {
  position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	text-decoration: none;
}

 #index .our-collections-list-title {
  color: var(--gradient-base-accent-1);
  font-size: var(--font-body-size-medium);
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  background: var(--gradient-background);
	display: block;
	padding: var(--grid-mobile-horizontal-spacing) 0;
	border: 1px solid var(--gradient-base-accent-1);
}

 .shop-by-color-circle {
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	margin: 0;
	display: block;
}

 #page .collection-list-title.h2 {
	 	font-size: var(--font-body-size-large);
	 font-weight: var(--font-body-weight-bold);
	 margin: 0;
 }

 #page .section-collection-list .grid {
	 gap: calc(var(--grid-desktop-vertical-spacing) * 2);
	 direction: rtl;
 }

 #page .section-collection-list:nth-child(2) .grid {
	 gap: 0 var(--grid-desktop-vertical-spacing);
 }

 #page .section-collection-list:nth-child(2) .grid__item {
	 width: 48%;
	 max-width: 49%;
 }

 #page .section-collection-list:nth-child(3) .grid__item {
	 max-width: calc(48% - var(--grid-mobile-horizontal-spacing) / 2);
 }

 #page .section-collection-list:nth-child(3) .grid__item .card {
	 border-radius: var(--inputs-radius);
	 border: 1px solid var(--gradient-base-background-3);
 }

 #page .section-collection-list:nth-child(3) .grid__item .card .full-unstyled-link:hover {
	 text-decoration: none;
 }

 #page .collection-list__item a.full-unstyled-link {
	 font-size: calc(var(--font-body-size-medium) * 1.1);
 }

.collection-color-wrapper {
	padding: 1rem;
}

#page .card__content, #page .card__information {
	padding-right: 0;
	padding-left: 0;
}

 #index img.our-collections-list-image__img--new, #index img.our-collections-list-image__img--desktop--new {
	 border-radius: 0;
 }

@media screen and (min-width: 990px) {

	.grid.collection-list-new {
		gap: calc(var(--grid-desktop-horizontal-spacing) * 2) calc(var(--grid-desktop-horizontal-spacing) * 2);
	}

	.grid.collection-list-new .grid__item {
		width: calc(49% - var(--grid-desktop-horizontal-spacing) / 2);
		max-width: calc(49% - var(--grid-desktop-horizontal-spacing) / 2);
	}

	#index .section-collection-list .collection-list:not(.slider) {
		gap: calc(var(--grid-desktop-horizontal-spacing) * 4) calc(var(--grid-desktop-horizontal-spacing) * 4);
		grid-template-columns: 1fr 1fr;
		display: grid;
		overflow-x: hidden;
		flex-wrap: nowrap;
	}

	#index .our-collections-list-title {
    padding: .5rem 0;
  }

	#index .our-collections-list-image__img {
    pointer-events: none;
  }

	.our-collections-list-image:hover + .our-collections-list-title {
    background-color: #000;
    color: #fff;
  }

	#index .collection-list-wrapper {
		/*padding-right: 11vw;*/
		/*padding-left: 11vw;*/
	}

	#page .collection-list__item a.full-unstyled-link:hover {
		text-decoration: underline;
	}

	#page .collection-list__item a.full-unstyled-link {
		font-size: calc(var(--font-body-size-medium) * 1.4);
	}

	#page .collection-list-title.h2 {
		font-size: calc(var(--font-body-size-large) * 1.2);
	}

	#page .section-collection-list:not(:nth-child(2)) .card__content,
	#page .section-collection-list:not(:nth-child(2)) .card__information {
		padding: 1.8rem .8rem;
	}

	.collection-color-wrapper {
		padding: 1rem 3rem 1rem 1rem;
	}

	#page .section-collection-list:nth-child(3) .grid__item {
		max-width: calc(24% - var(--grid-desktop-horizontal-spacing) * 3 / 4);
	}

	#page .section-collection-list:nth-child(2) .grid__item {
		width: 24%;
		max-width: 25%;
	}
}
