.simple-list-ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.simple-list-item a {
	color: inherit;
}

.simple-list-item:hover {
	opacity: 0.75;
}

@media screen and (min-width: 990px) {
	.simple-list-ul {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		row-gap: var(--grid-desktop-vertical-spacing);
	}
}