@media screen and (max-width: 749px) {
  .collection .grid__item:only-child {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 989px) {
  .collection .slider.slider--tablet {
    margin-bottom: 1.5rem;
  }

	.cart-drawer .collection .slider.slider--tablet {
		margin: 0;
		column-gap: var(--grid-desktop-vertical-spacing);
		grid-template-columns: 3fr;
		display: grid;
	}
}

.cart-drawer .collection .slider .full-unstyled-link {
	display: none;
}

.collection > .loading-overlay {
  top: 0;
  left: 0;
  display: none;
  width: 100vw;
	height: 100vh;
  padding: 0;
  opacity: 0.7;
	position: fixed;
	z-index: 100;
}

.cart-drawer .collection .loading-overlay {
	top: 0;
}

@media screen and (min-width: 990px) {
  .collection .loading-overlay {
    padding-left: 5rem;
    padding-right: 5rem;
  }

	.cart-drawer .collection .loading-overlay {
		padding: 0;
		background: var(--gradient-background);
		justify-content: flex-end;
	}

	.product_variants .size_variant_button:not(.disabled-variant-button) label:hover {
		background: var(--gradient-base-accent-1);
		color: var(--gradient-base-background-1);
	}

	.cart-drawer .product_variants .size_variant_button:not(.disabled-variant-button) label:hover {
		background: var(--gradient-background);
		color: var(--gradient-base-accent-1);
	}

	.sticky-cart-cta .product_variants .size_variant_button:not(.disabled-variant-button) label:hover {
		background: var(--gradient-background);
		color: var(--gradient-base-accent-1);
	}

	.sticky-cart-cta .product_variants ul {
		gap: 0;
	}
}

.collection.loading .loading-overlay {
  display: block;
	z-index: 1;
}

.collection--empty .title-wrapper {
  margin-top: 10rem;
  margin-bottom: 15rem;
}

@media screen and (max-width: 989px) {
  .collection .slider--tablet.product-grid {
    scroll-padding-left: 1.5rem;
  }
}

.collection__description > * {
  margin: 0;
}

.collection__title.title-wrapper {
  margin-bottom: 2.5rem;
}

.collection__title .title:not(:only-child) {
  margin-bottom: 1rem;
}

.collection__view-all a:not(.link) {
  margin: var(--heading-margin) 0;
}

.collection div.size-picker-loading {
  position: static;
  width: auto;
  padding: 0;
}

.collection__view-all a:not(.link):before, .collection__view-all a:not(.link):after {
	content: none;
}

@media screen and (min-width: 990px) {
	.collection__title--desktop-slider .title {
		margin-bottom: 2.5rem;
	}

	.collection__title.title-wrapper--self-padded-tablet-down {
		padding: 0 5rem;
	}

	.collection slider-component:not(.page-width-desktop) {
		padding: 0;
	}

	.collection--full-width slider-component:not(.slider-component-desktop) {
		/*padding: 0 1.5rem;*/
		padding: 0;
		max-width: none;
	}

	.cart-drawer .collection--full-width slider-component:not(.slider-component-desktop) {
		padding: 0 .5rem;
	}

	.cart-drawer .collection--full-width slider-component:not(.slider-component-desktop) ul {
		margin: 0;
		row-gap: 0;
	}

	.cart-drawer .collection--full-width slider-component:not(.slider-component-desktop) .product_variants ul {
		padding-bottom: 1rem;
	}

	#product-grid:not(.template-search__results) {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -1.5rem;
	}

	.view-all-link {
		min-height: auto;
		font-size: calc(var(--font-body-size-medium) * 1.2);
		font-weight: var(--font-body-weight-bold);
		color: var(--gradient-base-background-4);
	}
}