a {
	color: var(--color-base-text);
	text-decoration: none;
}

ul, ol {
	list-style: inside;
	padding-right: 0;
}

.supportful__articles-select-ctn {
	text-align: right;
	padding: 1em 2em;
	background: #ebebeb;
	font-size: 1.1em;
}

.supportful__flex-blog {
	display: grid;
	grid-template-columns: 1fr 20px;
	direction: rtl;
	align-items: center;
}

.supportful__open-articles {
	margin: 0;
	text-decoration: underline;
	font-weight: 600;
	font-size: 1.1em;
}

.supportful__flex-blog .icon-caret {
	float: none;
	margin: 0;
	transform: rotate(90deg);
	width: 12px;
}

.supportful__flex-blog .icon-caret.rotateArr {
	transform: rotate(0deg);
}

.article-ctn {
	background: var(--gradient-base-background-1);
	border-radius: 0.3rem;
	box-shadow: #00000026 0 0.2rem 1.3rem;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	width: calc(100% - 2em);
	margin: 1em auto;
	font-size: 1.1em;
	padding: 0 0 0.5em;
}

.article-ctn>.supportful__flex-blog {
	padding: 2em 1em;
}

.article-ctn--second {
	text-align: right;
	padding: 1em;
	direction: rtl;
}

.back-to-where {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.article-content--date {
	margin: 0;
}

.article-content--title {
	font-size: 1.6em;
	margin: 15px 0;
}

.article-content p {
	margin: 5px 0;
}

.article-ctn--third {
	direction: rtl;
	text-align: center;
	padding: 1em;
}

.all-contact {
	display: flex;
	justify-content: center;
	gap: 10px;
	align-items: center;
}

.supportful__article-ul {
	list-style: none;
	margin: 1em 0;
	background: var(--gradient-base-background-1);
	padding: 0 0.4em;
	border-radius: 4px;
}

.article-ctn .supportful__article-ul {
	margin: 0 auto 1em;
	padding: 0;
	width: 95%;
	border: 2px #bebebe solid;
	list-style: none;
}

.supportful__article-li {
	border-bottom: 2px #bebebe solid;
	padding: 0.4em;
	margin: 0;
}

.supportful__article-li:last-child {
	border: none;
}

