{% layout 'theme' %}
{{ 'section-main-page.css' | asset_url | stylesheet_tag }}

<div class="client__care--ctn">
    <section>
        <div class="covid__notice">
            <article class="covid__notice--article">
                <h1 class="covid__notice--title">Client Care</h1>
            </article>
        </div>
    </section>

    <ul class="help__blogs__ul ">

        <li class="help__blogs__li">
            <div class="help__relative-for-absolute">
                <div class="help__absolute-for-hover">
                    <a href="/blogs/policies/מדיניות-המשלוחים-שלנו" class="help__mobile-link-to-subj">
                        <div class="help__flex--icons">
                            {% render 'c-icon' %}
                        </div>
                        <h3 class="help__subject--title">Policies</h3>
                    </a>
                    <p class="help__li-description  text-center desktop--only">Shipping & Returns</p>
                    <a href="/blogs/policies/מדיניות-המשלוחים-שלנו" class=" help__link-to-article desktop--only text-center">
                        More Info
                    </a>
                </div>
            </div>
        </li>

        <li class="help__blogs__li">
            <div class="help__relative-for-absolute">
                <div class="help__absolute-for-hover">
                    <a href="/blogs/תקנונים/תקנון-האתר" class="help__mobile-link-to-subj">
                        <div class="help__flex--icons">
                            {% render 'info-icon' %}
                        </div>
                        <h3 class="help__subject--title">General</h3>
                    </a>
                    <p class="help__li-description  text-center desktop--only">Everything you need to know</p>
                    <a href="/blogs/תקנונים/תקנון-האתר" class=" help__link-to-article desktop--only text-center">
                        More Info
                    </a>
                </div>
            </div>
        </li>
    </ul>
</div>