{% layout 'theme' %}
{{ 'section-main-page.css' | asset_url | stylesheet_tag }}

<div class="client__care--ctn">
    <section>
        <div class="covid__notice">
            <article class="covid__notice--article">
                <h1 class="covid__notice--title">מרכז התמיכה</h1>
            </article>
        </div>
    </section>

    <ul class="help__blogs__ul ">

        <li class="help__blogs__li">
            <div class="help__relative-for-absolute">
                <div class="help__absolute-for-hover">
                    <a href="/blogs/policies/מדיניות-המשלוחים-שלנו" class="help__mobile-link-to-subj">
                        <div class="help__flex--icons">
                            {% render 'c-icon' %}
                        </div>
                        <h3 class="help__subject--title">מדיניות</h3>
                    </a>
                    <p class="help__li-description  text-center desktop--only">משלוחים, החזרות וביטולים</p>
                    <a href="/blogs/policies/מדיניות-המשלוחים-שלנו" class=" help__link-to-article desktop--only text-center">
                        לכל הדפים בנושא:
                    </a>
                </div>
            </div>
        </li>

        <li class="help__blogs__li">
            <div class="help__relative-for-absolute">
                <div class="help__absolute-for-hover">
                    <a href="/blogs/תקנונים/תקנון-האתר" class="help__mobile-link-to-subj">
                        <div class="help__flex--icons">
                            {% render 'info-icon' %}
                        </div>
                        <h3 class="help__subject--title">מידע כללי</h3>
                    </a>
                    <p class="help__li-description  text-center desktop--only">כל מה שחשוב לדעת</p>
                    <a href="/blogs/תקנונים/תקנון-האתר" class=" help__link-to-article desktop--only text-center">
                        לכל הדפים בנושא:
                    </a>
                </div>
            </div>
        </li>
    </ul>
</div>